<html>

    <body>
        <?php
        ini_set("max_execution_time", 5000);
        ini_set('memory_limit', '1024M');

        if ($formatcetak == 'excel') {
            header("Content-type: application/vnd-ms-excel");
            header("Content-Disposition: attachment; filename=cetakregisterpajak.xls");
        }

        if (!empty($ar_pemda->s_notelinstansi)) {
            $notelp = "Telp/Fax  " . $ar_pemda->s_notelinstansi . ", ";
        } else {
            $notelp = "";
        }

        $text_bulan = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
        ?>
        <div>
            <?php if ($formatcetak == 'pdf') { ?>
                <table width="100%" style="font-family:sans-serif">
                    <tr>
                        <td width="10%" style="border: 1px solid #fff;"><img src="<?= $ar_pemda->s_logo ?>" width="60"></td>
                        <td style="text-align:center; padding-right: 10%;border: 1px solid #fff;">
                            <span style="font-size:12pt;font-weight: BOLD;">PEMERINTAH KABUPATEN
                                <?= strtoupper($ar_pemda->s_namakabkota); ?></span><br>
                            <span
                                style="font-size:15pt;font-weight: BOLD;"><?= strtoupper($ar_pemda->s_namainstansi); ?></span><br>
                            <span style="font-size:10pt;"><?= $ar_pemda->s_alamatinstansi; ?> <?= $notelp ?>
                                <?= $ar_pemda->s_namaibukotakabkota ?> Kode Pos <?= $ar_pemda->s_kodepos ?></span>
                        </td>
                    </tr>
                </table>
            <?php } ?>
            <hr style="line-height: 1px; color: black">
            <h3 style="text-align: center;font-family:sans-serif;">DAFTAR REGISTER
            <?php
            if (!empty($data_jenis['s_namajenis'])) {
                echo $data_jenis['s_namajenis'];
            }else{
                echo 'PAJAK';
            }?>
             </h3>
            <span style="font-family:sans-serif"><?= $tglregister . ' : ' . $tglpencetakan ?></span>
            <table cellpadding="3" cellspacing="3" width="100%"
                   style="text-align: center;font-family:sans-serif;border-collapse: collapse;" border="0">
                <tr style="background:#ccc;">
                    <th style="border: 1px solid black;">
                        No.
                    </th>
                    <th width="7%" style="border: 1px solid black;">
                        No SPTPD
                    </th>
                    <th style="border: 1px solid black;">
                        Tgl Pendataan
                    </th>
                    <th style="border: 1px solid black;">
                        NPWPD
                    </th>
                    <th style="border: 1px solid black;">
                        Nama WP
                    </th>
                    <th style="border: 1px solid black;">
                        Nama Objek
                    </th>
                    <th style="border: 1px solid black;">
                        Tgl. Jatuh Tempo
                    </th>
                    <th style="border: 1px solid black;">
                        Nama Rekening
                    </th>
                    <th style="border: 1px solid black;">
                        Masa Pajak
                    </th>
                    <th style="border: 1px solid black;">
                        Jumlah Pajak (Rp.)
                    </th>
                    <th style="border: 1px solid black;">
                        Status Pembayaran
                    </th>
                    <?php if ($idjenis==6) { ?>
                    <th style="border: 1px solid black;">
                        Keterangan
                    </th>
                    <?php }?>
                    
                </tr>
                <?php
                $totalpendataan = 0;
                $totalpembayaran = 0;
                $counter = 1;
                foreach ($this->data as $k => $v) {
                    ?>
                    <tr>
                        <td style="border: 1px solid black;">
                            <?= $counter ?>
                        </td>
                        <td style="border: 1px solid black;">
                            <?= $v['t_nourut'] ?>
                        </td>
                        <td style="text-align: center;border: 1px solid black;">
                            <?= date('d-m-Y', strtotime($v['t_tglpendataan'])) ?>
                        </td>
                        <td style="text-align: left;border: 1px solid black;">
                            <?= $v['t_npwpdwp'] ?>
                        </td>
                        <td style="text-align: left;border: 1px solid black;">
                            <?= $v['t_namawp'] ?>
                        </td>
                        <td style="text-align: left;border: 1px solid black;">
                            <?= $v['t_namaobjek'] ?>
                        </td>
                        <td style="text-align: center;border: 1px solid black;">
                            <?= date('d-m-Y', strtotime($v['t_tgljatuhtempo'])) ?>
                        </td>
                        <td style="text-align: center;border: 1px solid black;">
                            <?= $v['s_namakorek'] ?>
                        </td>
                        <td style="border: 1px solid black;">
                            <?= date('d-m-Y', strtotime($v['t_masaawal'])) . " s/d " . date('d-m-Y', strtotime($v['t_masaakhir'])) ?>
                        </td>
                        <td style="text-align: right;border: 1px solid black;">
                            <?php
                            if ($formatcetak == 'pdf') {
                                echo number_format($v['t_jmlhpajak']);
                            } else {
                                echo $v['t_jmlhpajak'];
                            }
                            ?>
                        </td>
                        <td style="border: 1px solid black;">
                            <?php
                            if (!empty($v['t_tglpembayaran'])) {
                                echo 'Lunas / ' . date('d-m-Y', strtotime($v['t_tglpembayaran']));
                            } elseif (empty($v['t_tglpembayaran']) && !empty($v['t_kodebayar'])) {
                                echo 'Belum Bayar';
                            } else {
                                echo 'Belum Ditetapkan';
                            }
                            ?>
                        </td>
                        <?php if ($idjenis==6) { ?>
                        <td style="text-align: center;border: 1px solid black;">
                            <?= $v['t_namakegiatan'] ?>
                        </td>
                        <?php }?>
                    </tr>
                    <?php
                    $totalpendataan += $v['t_jmlhpajak'];
                    $counter++;
                }
                ?>
                <tr>
                    <td colspan="9"
                        style="text-align:center; font-weight: bold; padding-right: 6px;border: 1px solid black;">
                        JUMLAH TOTAL PAJAK
                    </td>
                    <td style="text-align: right; font-weight: bold;border: 1px solid black;">
                        <!-- <?= number_format($totalpendataan) ?> -->
                        <?php if ($formatcetak == 'pdf') { ?>
                            <?= number_format($totalpendataan) ?>
                        <?php } ?>

                        <?php if ($formatcetak == 'excel') { ?>
                            <?= $totalpendataan ?>
                        <?php } ?>
                    </td>
                    <td style="border: 1px solid black;"></td>
                </tr>
            </table>
            <br>
            <?php if ($formatcetak == 'pdf') { ?>
                <table width="100%" class="mengetahui">
                    <tr class="mengetahui">
                        <td style=" width: 35%; text-align: center;vertical-align: bottom;" class="mengetahui">
                            Mengetahui<br>
                            <?php if ($ar_mengetahui->s_idttpengguna == 1) { ?>
                                An. KEPALA BPPKAD <br>
                            <?php }
                            ?>
                            <?= $ar_mengetahui->s_jabatanpej ?>
                            <br><br><br><br><br><br><br>
                            <b><?= $ar_mengetahui->s_namapej ?></b><br>
                            <?= $ar_mengetahui->s_nippej ?>
                        </td>
                        <td style=" width: 30%" class="mengetahui"></td>
                        <td style=" width: 35%;text-align: center;vertical-align: bottom;" class="mengetahui">
                            <?= $ar_pemda->s_namaibukotakabkota ?>,
                            <?= date('d', strtotime($tglcetak)) . " " . $text_bulan[date('m', strtotime($tglcetak)) - 1] . " " . date('Y', strtotime($tglcetak)) ?><br>
                            Diperiksa Oleh<br>
                            <?= $ar_diperiksa->s_jabatanpej ?>
                            <br><br><br><br><br><br><br>
                            <b><?= $ar_diperiksa->s_namapej ?></b><br>
                            <?= $ar_diperiksa->s_nippej ?>
                        </td>
                    </tr>
                </table>
            <?php } ?>
        </div>

        <?php if ($formatcetak == 'pdf') { ?>
        <htmlpagefooter name="MyCustomFooter">
            <table style="vertical-align: bottom; font-family: serif;" width="100%">
                <tbody>
                    <tr>
                        <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                        <td style="font-style: italic;text-align: left;font-size: 10px;border: 1px solid #fff;" width="50%">
                            Printed by SIMPATDA</td>
                        <td style="font-style: italic;text-align: right;font-size: 12px;border: 1px solid #fff;"
                            width="50%">Halaman {PAGENO} dari {nbpg}</td>
                    </tr>
                </tbody>
            </table>
        </htmlpagefooter>
    <?php } ?>
</body>

</html>

<style type="text/css" media="print">
    @page {
        margin: 20px 40px 50px 20px;
        /* ensure you append the header/footer name with 'html_' */
        header: html_MyCustomHeader;
        /* sets <htmlpageheader name="MyCustomHeader"> as the header */
        footer: html_MyCustomFooter;
        /* sets <htmlpagefooter name="MyCustomFooter"> as the footer */
    }

    /*    table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            padding-left: 5px;
            padding-right: 5px;
        }*/
    /*    td {
                padding-left: 4px;
                padding-right: 4px;
            }*/
    .mengetahui {
        border: 1px solid white;
        border-collapse: collapse;
    }

    .font_empatbelas {
        font-size: 14pt;
    }
</style>