<?php
include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/barcodecoy/qrlib.php');

$PNG_TEMP_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' .
    $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' .
    $data['t_idtransaksi'] . '/';

$PNG_WEB_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' .
    $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' .
    $data['t_idtransaksi'] . '/';

if (!file_exists($PNG_TEMP_DIR)) {
    mkdir($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/', 0777, true);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/', 0777);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/', 0777);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/', 0777);
}

$errorCorrectionLevel = 'L';
$matrixPointSize = 3;
$barcode = $data['t_kodebayar'];

$filename = $PNG_TEMP_DIR . '' . $data['t_idjenisobjek'] . '_' . $data['t_periodepajak'] . '_' . $data['t_idtransaksi'] . '_' . md5($barcode . '|' . $errorCorrectionLevel . '|' . $matrixPointSize) . '.png';
QRcode::png($barcode, $filename, $errorCorrectionLevel, $matrixPointSize, 2);

$tampilbarcode = '<img width="100" src="' . $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/' . basename($filename) . '" />';
?>

<html>

<head>
    <style type="text/css">
        .border_atas {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        .border_kiri {
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .border_kanan {
            border-right: 1px solid black;
            border-collapse: collapse;
        }

        .border_bawah {
            border-bottom: 1px solid black;
            border-collapse: collapse;
        }

        .font_besar {
            font-size: 12pt;
        }

        .font_kecil {
            font-size: 10pt;
        }

        .font_lima {
            font-size: 7pt;
        }

        .font_tujuh {
            font-size: 7pt;
        }

        .font_delapan {
            font-size: 10pt;
        }

        .font_sembilan {
            font-size: 9pt;
        }

        table {
            font-family: Arial;
        }
    </style>
    <?php
    if ($jenisobjek == 4) {
        echo '
			<style>
			@page{
                margin: 30px 30px 80px 30px;
                header: html_MyCustomHeader;
                footer: html_MyCustomFooter;
            }
			</style>
			';
    } else if ($jenisobjek == 8) {
        echo '
			<style>
			@page{
                margin: 30px;
                header: html_MyCustomHeader;
                footer: html_MyCustomFooter;
            }
			</style>
			';
    }
    ?>
</head>

<body>
    <?php
    ini_set("max_execution_time", 500);
    $MenuHelper = $this->MenuHelper();
    $t_tglpenetapan = date('d', strtotime($data['t_tglpenetapan'])) . " " . $MenuHelper->namabulandate(date('m', strtotime($data['t_tglpenetapan']))) . " " . date('Y', strtotime($data['t_tglpenetapan']));
    ?>
    <table class="border_atas border_bawah border_kanan border_kiri font_delapan" style="width: 100%;">
        <tr>
            <td style="width: 5%;padding: 5px;">
                <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>" style="width:50;" />
            </td>
            <td style="width: 35%;padding: 15px 8px;vertical-align: top;">
                <span style="font-size:9pt">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></span>
                <br>
                <b style="font-size:11pt"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                <br>
                <span style="font-size:9pt;"><?= $ar_pemda->s_alamatinstansi ?>
                    <?= $ar_pemda->s_namaibukotakabkota ?><br>Telp <?= $ar_pemda->s_notelinstansi ?></span>
            </td>
            <td class="border_kiri" style="width: 40%;text-align: center;vertical-align: top;">
                <b style="font-size: 24pt;">SKPD</b>
                <br>
                <b style="font-size:11pt;">(SURAT KETETAPAN PAJAK DAERAH)</b>
                <br>
                Masa Pajak : <?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> s.d.
                <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?>
                <br>
                Tahun Pajak : <?= $data['t_periodepajak']; ?>
                <!--No. SKPD : <b><= str_pad($data['t_nopenetapan'], 5, "0", STR_PAD_LEFT).'/SKPD/'.substr($data['t_kodebayar'],2,2).'/'.date('m', strtotime($data['t_masaawal'])).'/'.$data['t_periodepajak'] ?></b>-->
            </td>
            <td class="border_kiri" style="width: 20%;text-align: center">
                No. SKPD :
                <?php if ($jenisobjek == 4) { ?>
                    SKPD/REKLAME/
                <?php } else if ($jenisobjek == 8) { ?>
                    SKPD/WALET/<?php } ?>
                    <?= str_pad($data['t_nopenetapan'], 5, 0, STR_PAD_LEFT) ?><br><br>
                    Kode Bayar<br><b><?= $data['t_kodebayar'] ?></b>
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri" style="width: 100%;font-size:9pt;">
        <tr>
            <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; padding-top: 10px;">
                <b>I.</b>
            </td>
            <td colspan="3" style="padding:0;border-spacing:0px; padding-top: 10px;">
                <b>Identitas Wajib Pajak</b>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">

            </td>
            <td style="padding:0; border-spacing:0px;">
                NPWPD
            </td>
            <td style="padding:0; border-spacing:0px;width: 3%;text-align: center;">:</td>
            <td class="border_kanan" style="padding:0;border-spacing:0px;">
                <?= $data['t_npwpd'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">

            </td>
            <td style="width: 20%; padding:0; border-spacing:0px;">
                Nama
            </td>
            <td style="padding:0; border-spacing:0px;text-align: center;">:</td>
            <td style="padding:0;border-spacing:0px;">
                <?= $data['t_nama'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">

            </td>
            <td style="padding:0; border-spacing:0px;vertical-align:top;">
                Alamat
            </td>
            <td style="padding:0; border-spacing:0px;text-align: center;">:</td>
            <td style="padding:0;border-spacing:0px;">
                <?= $data['t_alamat'] . ", KEL. " . $data['s_namakel'] . ", KEC. " . $data['s_namakec'] . ", KAB. " . strtoupper($data['t_kabupaten']) ?>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">

            </td>
            <td style="padding:0; border-spacing:0px;">
                NIOP
            </td>
            <td style="padding:0; border-spacing:0px;text-align: center;">:</td>
            <td class="border_kanan" style="padding:0;border-spacing:0px;">
                <?= $data['t_nop'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">

            </td>
            <td style="padding:0; border-spacing:0px;">
                Nama Objek
            </td>
            <td style="padding:0; border-spacing:0px;text-align: center;">:</td>
            <td class="border_kanan" style="padding:0;border-spacing:0px;">
                <?= $data['t_namaobjek'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">

            </td>
            <td style="padding:0; border-spacing:0px;vertical-align:top;">
                Alamat Objek
            </td>
            <td style="padding:0; border-spacing:0px;text-align: center;">:</td>
            <td class="border_kanan" style="padding:0;border-spacing:0px;">
                <?= $data['t_alamatobjek'] . ", KEL. " . $data['s_namakelobjek'] . ", KEC. " . $data['s_namakecobjek'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; padding-bottom: 10px">
                <b>II.</b>
            </td>
            <td style="padding:0; border-spacing:0px; padding-bottom: 10px;font-size:9pt;">
                <b>Tanggal Jatuh Tempo</b>
            </td>
            <td style="padding:0; border-spacing:0px; padding-bottom: 10px;text-align: center;">:</td>
            <td class="border_kanan" style="padding:0;border-spacing:0px; padding-bottom: 10px">
                <b><?= date('d-m-Y', strtotime($data['t_tgljatuhtempo'])) ?></b>
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;">
        <tr style="text-align: center">
            <td class="border_kanan border_kiri" style="padding-top: 10px;">
                <table style="margin-left: 15px; margin-right: 15px; padding-top: 10px; border: 1px solid black; border-collapse: collapse; width: 100%; margin-bottom: 10px; vertical-align: top">
                    <tr>
                        <td style="width: 5%; border: 1px solid black; border-collapse: collapse; text-align: center">
                            NO.
                        </td>
                        <td style="width: 20%; border: 1px solid black; border-collapse: collapse; text-align: center">
                            KODE REKENING
                        </td>
                        <td style="width: 50%; border: 1px solid black; border-collapse: collapse; text-align: center">
                            URAIAN
                        </td>
                        <td style="width: 25%; border: 1px solid black; border-collapse: collapse; text-align: center">
                            JUMLAH (Rp.)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; border: 1px solid black; border-collapse: collapse">
                            1.
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; width:100px;">
                            <?= $data['korek'] ?><br>
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; width: 400px;font-size: 10pt;">
                            <b>- <?= $data['s_namajenis'] ?><br>
                                &nbsp;&nbsp; - <?= $data['s_namakorek'] ?></b><BR><br>
                            &nbsp; Perhitungan <?= $data['s_namajenis'] ?> ditetapkan sebagai berikut :<br>
                            <?php if ($jenisobjek == 4) { ?>

                                <table style="vertical-align: top;font-size:8pt;margin-left: 8px;margin-bottom: 5px;">
                                    <?php
                                    $counter = 1;
                                    foreach ($datadetail as $vRow) : ?>
                                        <tr>
                                            <td><?= $counter++ ?>.</td>
                                            <td>- Judul</td>
                                            <td>: <?= $vRow['t_naskah'] ?></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>- Lokasi</td>
                                            <td>: <?= $vRow['t_lokasi'] ?> / <?= $vRow['s_kawasan'] ?></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>- Masa</td>
                                            <td>: <?= $vRow['t_jangkawaktu'] ?> <?= $vRow['s_termin'] ?>
                                        </tr>
                                        <!-- <tr>
                                            <td></td>
                                            <td>- Luas (m<sup>2 </sup>)</td>
                                            <td>: <?= number_format($vRow['t_panjang'], 2, ',', '.') . ' x ' . number_format($vRow['t_lebar'], 2, ',', '.') . '<br>: ' . number_format($vRow['t_panjang'] * $vRow['t_lebar'], 2, ',', '.') ?></td>
                                        </tr> -->
                                        <!-- <tr>
                                            <td></td>
                                            <td>- Sudut Pandang</td>
                                            <td>: <?= $vRow['t_sudutpandang'] . ' sisi, Jumlah Reklame : ' . $vRow['t_jumlah'] . ' buah' ?></td>
                                        </tr> -->
                                        <tr>
                                            <td></td>
                                            <td>

                                                <?php
                                                if ($vRow['t_jenisrokok'] == 2) {
                                                    echo "- Nilai Pajak (Produk Rokok) ";
                                                } else {
                                                    echo "- Nilai Pajak";
                                                }
                                                ?>
                                            </td>
                                            <!-- <td>: <?= number_format($vRow['t_nsr'], 0, ',', '.') . ' x Tarif Reklame : ' . $vRow['t_tarifreklame'] . '% = Rp. ' . number_format($vRow['t_jmlhpajaksub'], 0, ',', '.') ?></td> -->
                                            <td>:
                                                <?php
                                                if ($vRow['s_pl'] == 1) {
                                                    if ($vRow['t_jenisrokok'] == 2) {
                                                        echo '('
                                                            . number_format($vRow['t_nsr'], 0, ',', '.') . ' x ' . $vRow['t_sudutpandang'] . ' sisi x ' . $vRow['t_jumlah'] . ' buah x ' . $vRow['t_tarifreklame'] . '%) x 2' . '<br>: ' . number_format($vRow['t_jmlhpajaksub'], 0, ',', '.');
                                                    } else {
                                                        echo ''
                                                            . number_format($vRow['t_nsr'], 0, ',', '.') . ' x ' . $vRow['t_sudutpandang'] . ' sisi x ' . $vRow['t_jumlah'] . ' buah x ' . $vRow['t_tarifreklame'] . '%' . '<br>: ' . number_format($vRow['t_jmlhpajaksub'], 0, ',', '.');
                                                    }
                                                } else {
                                                    if ($vRow['t_jenisrokok'] == 2) {
                                                        echo '('
                                                            . number_format($vRow['t_nsr'], 0, ',', '.') . ' x ' . number_format($vRow['t_panjang'] * $vRow['t_lebar'], 2, ',', '.') . 'm<sup>2</sup> x ' . $vRow['t_sudutpandang'] . ' sisi x ' . $vRow['t_jumlah'] . ' buah x ' . $vRow['t_tarifreklame'] . '%) x 2' . '<br>: ' . number_format($vRow['t_jmlhpajaksub'], 0, ',', '.');
                                                    } else {
                                                        echo number_format($vRow['t_nsr'], 0, ',', '.') . ' x ' . number_format($vRow['t_panjang'] * $vRow['t_lebar'], 2, ',', '.') . 'm<sup>2</sup> x ' . $vRow['t_sudutpandang'] . ' sisi x ' . $vRow['t_jumlah'] . ' buah x ' . $vRow['t_tarifreklame'] . '%' . '<br>: ' . number_format($vRow['t_jmlhpajaksub'], 0, ',', '.');
                                                    }
                                                }
                                                ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                                &nbsp; &nbsp; Total Pajak : Rp. <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?><br>

                            <?php
                            } elseif ($jenisobjek == 8) {
                            ?>

                                <table style="vertical-align: top;font-size:9pt;margin-left: 10px;">
                                    <tr>
                                        <td>
                                            Kelompok
                                        </td>
                                        <td>
                                            : <?= $data['s_namakelompok'] ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Peruntukan Air
                                        </td>
                                        <td>
                                            : <?= $data['s_peruntukan'] ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Volume Air
                                        </td>
                                        <td>
                                            : <?= $data['t_volumeair'] ?> m<sup>3</sup>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Perhitungan
                                        </td>
                                        <td>
                                            <table class="border_atas border_bawah border_kanan border_kiri">
                                                <tr>
                                                    <td style="border: 1px solid black;">Volume Standart</td>
                                                    <td style="border: 1px solid black;">Volume Produksi</td>
                                                    <td style="border: 1px solid black;">Harga Dasar Air (Rp.)</td>
                                                    <td style="border: 1px solid black;">NPA (Rp.)</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">0 - 50</td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair0'] ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar0'], 0, ",", ".") ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah0'], 0, ",", ".") ?></td>

                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">51 - 500</td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair1'] ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar1'], 0, ",", ".") ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah1'], 0, ",", ".") ?></td>

                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">501 - 1000</td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair2'] ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar2'], 0, ",", ".") ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah2'], 0, ",", ".") ?></td>


                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">1001 - 2500</td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair3'] ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar3'], 0, ",", ".") ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah3'], 0, ",", ".") ?></td>


                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">> 2500</td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair4'] ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar4'], 0, ",", ".") ?></td>
                                                    <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah4'], 0, ",", ".") ?></td>


                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;border: 1px solid black;">Jumlah produksi</td>
                                                    <td style="text-align:center;border: 1px solid black;">
                                                        <b><?= $datadetail['t_volumeair0'] +
                                                                $datadetail['t_volumeair1'] +
                                                                $datadetail['t_volumeair2'] +
                                                                $datadetail['t_volumeair3'] +
                                                                $datadetail['t_volumeair4'] ?></b>
                                                    </td>
                                                    <td style="text-align:center;border: 1px solid black;">Total NPA</td>
                                                    <td style="text-align:center;border: 1px solid black;"><b><?= number_format($datadetail['t_totalnpa'], 0, ",", ".") ?></b></td>


                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Total Pajak (Rp.)
                                        </td>
                                        <td>
                                            :
                                            <?= $datadetail['t_perhitungan'] ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                        </td>
                                        <td>
                                            : Rp. <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?>
                                        </td>
                                    </tr>
                                </table>
                            <?php } ?>
                            <br><br>
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: right;width: 15%">
                            <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; border: 1px solid black; border-collapse: collapse" colspan="3">
                            Jumlah Ketetapan Pokok Pajak
                        </td>
                        <th style="border: 1px solid black; border-collapse: collapse; text-align: right">
                            <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?>
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align: right; border: 1px solid black; border-collapse: collapse" colspan="3">
                            Jumlah Sanksi &nbsp; a. Bunga
                        </td>
                        <th style="border: 1px solid black; border-collapse: collapse; text-align: right">
                            <!-- <?php
                                    // if (!empty($data['t_tglpembayaran'])) {
                                    //     $bunga = $data['t_jmlhbayardenda'];
                                    // } else {
                                    //     $bunga = $MenuHelper->hitungdenda(date('Y-m-d'), $data['t_tgljatuhtempo'], $data['t_jmlhpajak']);
                                    // }
                                    // 
                                    ?> -->

                            <?= number_format($bunga, 0, ',', '.') ?>
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align: right; border: 1px solid black; border-collapse: collapse" colspan="3">
                            b. Kenaikan
                        </td>
                        <th style="border: 1px solid black; border-collapse: collapse; text-align: right">
                            <?= number_format(0, 0, ',', '.'); ?>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: right; border: 1px solid black; border-collapse: collapse" colspan="3">
                            Jumlah Keseluruhan
                        </th>
                        <th style="border: 1px solid black; border-collapse: collapse; text-align: right">
                            <?= number_format($data['t_jmlhpajak'] + $bunga, 0, ',', '.'); ?>
                        </th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; border-collapse: collapse" colspan="4">
                            Dengan Huruf : <i># <?= $MenuHelper()->terbilang($data['t_jmlhpajak'] + $bunga); ?> Rupiah #</i>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;font-size:9pt;">
        <tr>
            <td style=" padding-left: 15px" colspan="2">
                PERHATIAN :
            </td>
        </tr>
        <tr>
            <td style="width:5%; border-spacing:0px; padding-left: 15px; vertical-align: top">
                1.
            </td>
            <td style="padding:0; border-spacing:0px;">
                Harap penyetoran dilakukan melalui <?= $ar_pemda->s_namabank ?> dengan menggunakan Surat Ketetapan Pajak Daerah (SKPD)
                atau Kode Bayar.
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px; padding-bottom: 10px; vertical-align: top">
                2.
            </td>
            <td style="padding:0; border-spacing:0px; padding-bottom: 10px">
                Apabila SKPD ini tidak atau kurang dibayar setelah waktu paling lama 30 hari sejak SKPD ini ditetapkan
                dikenakan sanksi administrasi berupa bunga sebesar 2% per bulan.
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%">
        <tr>
            <td style="width: 50%; padding-top: 5px; padding-left: 15px">
                <?= $tampilbarcode ?>
            </td>
            <td style="text-align: center; padding-top: 5px;font-size:10pt;">
                <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpenetapan ?><br>
                a.n, Kepala <?= $ar_pemda->s_namainstansi ?><br>
                <?= ucwords(strtolower($ar_ttd0->s_jabatanpej)) ?>
                <br>
                <br>
                <br>
                <br>
                <br>
                <u><b><?= $ar_ttd0->s_namapej ?></b></u><br>
                NIP. <?= $ar_ttd0->s_nippej ?>
            </td>
        </tr>
    </table>
    <!-- <span style="font-family: arial;font-size:7pt;">MODEL : DPD-<= $data['t_nopenetapan'] ?>A</span> -->
    <!--    <div
        style="margin-top:10px;margin-bottom:10px;border: 0 none;border-top: 1px dashed #322f32;background: none;height:0;">
    </div>
    <table class="border_bawah border_kanan border_kiri border_atas" style="width: 100%;font-size:9pt;">
        <tr>
            <td colspan="2" style="padding-top: 5px">

            </td>
            <td style="text-align: right; padding-top: 5px;padding-right: 20px;">
                No. SKPD : <b><= str_pad($data['t_nopenetapan'], 5, "0", STR_PAD_LEFT).'/SKPD/'.substr($data['t_kodebayar'],2,2).'/'.date('m', strtotime($data['t_masaawal'])).'/'.$data['t_periodepajak'] ?></b>
                No. SKPD : <?= str_pad($data['t_nopenetapan'], 5, 0, STR_PAD_LEFT) ?>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <b style="font-size: 14pt;">TANDA TERIMA</b>
            </td>
        </tr>
        <tr>
            <td style="width: 20%;padding-left: 25px;">
                NPWPD
            </td>
            <td style="width: 2%">
                :
            </td>
            <td>
                <?= $data['t_npwpd'] ?>
            </td>
        </tr>
        <tr>
            <td style="width: 20%;padding-left: 25px; vertical-align: top;">
                Nama
            </td>
            <td style="width: 2%">
                :
            </td>
            <td>
                <?= strtoupper($data['t_nama']); ?>
            </td>
        </tr>
        <tr>
            <td style="width: 20%;padding-left: 25px; vertical-align: top;">
                Alamat
            </td>
            <td style="width: 2%">
                :
            </td>
            <td>
                <?= strtoupper($data['t_alamat_lengkap']) ?>
            </td>
        </tr>
        <tr>
            <td style="width: 20%;padding-left: 25px; vertical-align: top;">
                Nama Objek / Usaha
            </td>
            <td style="width: 2%">
                :
            </td>
            <td>
                <?= strtoupper($data['t_namaobjek']) ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">

            </td>
            <td style="text-align: right;padding-right: 30px;">
                <?= $ar_pemda->s_namaibukotakabkota ?>,
                .................................. 20 ...........
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align:bottom;">
                <div class="barcodecell">
                    <barcode code="<?= $data['t_kodebayar'] ?>" type="I25" class="barcode" /><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:8pt;"><?= $data['t_kodebayar'] ?></span>
                </div>
            </td>
            <td style="text-align: right;padding-right: 100px;">
                Yang Menerima
                <br><br><br><br><br><br>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-bottom: 10px">

            </td>
            <td style="text-align: right;padding-right: 85px; padding-bottom: 10px">
                (............................)
            </td>
        </tr>
    </table>-->
    <!--<span style="font-family: arial;font-size:7pt;">MODEL : DPD-<?= $data['t_nopenetapan'] ?>A</span>-->

    <htmlpagefooter name="MyCustomFooter">
        <table style="vertical-align: bottom; font-family:sans-serif;font-size: 7pt;" width="100%">
            <tbody>
                <tr>
                    <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                    <td style="font-style: italic;text-align: left;border: 1px solid #fff;" width="50%">Printed by
                        SIMPATDA</td>
                    <td style="font-style: italic;text-align: right;border: 1px solid #fff;" width="50%">Halaman
                        {PAGENO} dari {nbpg}</td>
                </tr>
            </tbody>
        </table>
    </htmlpagefooter>
</body>

</html>