<?php
if ($formatcetak == 'word') {
    header("Content-type: application/vnd-ms-word");
    header("Content-Disposition: attachment; filename=cetaksuratpenunjukan.doc");
}

$txt_bulan = ['01' => 'Januari', '02' => 'Februari', '03' => 'Maret', '04' => 'April', '05' => 'Mei', '06' => 'Juni', '07' => 'Juli', '08' => 'Agustus', '09' => 'September', '10' => 'Oktober', '11' => 'November', '12' => 'Desember'];
$txt_romawi = ['1' => 'I', '2' => 'II', '3' => 'III', '4' => 'IV'];
?>
<html>
    <head>
        <style type="text/css">
            .border_atas {
                border-top: 1px solid black;
                border-collapse: collapse;
            }

            .border_kiri {
                border-left: 1px solid black;
                border-collapse: collapse;
            }

            .border_kanan {
                border-right: 1px solid black;
                border-collapse: collapse;
            }

            .border_bawah {
                border-bottom: 1px solid black;
                border-collapse: collapse;
            }

            .font_besar {
                font-size: 12pt;
            }

            .font_kecil {
                font-size: 10pt;
            }

            .font_lima {
                font-size: 7pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <p style="font-size:11pt;margin:10px 10px 10px 10px;text-align:center;line-height:20px;">
            SURAT KEPUTUSAN KEPALA <?= strtoupper($ar_pemda->s_namainstansi) ?><BR>
            KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?><BR>
            NOMOR : 970/<?= str_ireplace(".", "", substr($data['t_npwpdwp'], 4, 7)) . '/' . $txt_romawi[substr($data['t_npwpdwp'], 2, 1)] . '/' . date('Y', strtotime($data['t_tgldaftarobjek'])) ?>
        </p>
        <p style="font-size:11pt;margin:10px 10px 10px 10px;text-align:center;line-height:20px;">
            TENTANG<BR>
            PENUNJUKAN SEBAGAI WAJIB PUNGUT
        </p>
        <p style="font-size:11pt;margin:10px 10px 10px 10px;text-align:center;line-height:20px;">
            KEPALA <?= strtoupper($ar_pemda->s_namainstansi) ?><BR>
            KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?>
        </p>
        <table cellpadding="2" cellspacing="2" style="font-size:10pt;margin:10px 10px 0px 10px;">
            <tr>
                <td style="vertical-align:top;">Membaca</td>
                <td style="vertical-align:top;">:</td>
                <td style="line-height:20px;">
                    Surat Pengukuhan sebagai Wajib Pajak / Wajib Retribusi Daerah tanggal <?= date('d-m-Y', strtotime($data['t_tgldaftarobjek'])) ?>
                    No DPD/<?= str_ireplace(".", "", substr($data['t_npwpdwp'], 4, 7)) . '/' . date('Y', strtotime($data['t_tgldaftarobjek'])) ?>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;padding-top:5px;">Menimbang</td>
                <td style="vertical-align:top;padding-top:5px;">:</td>
                <td>
                    <table style="font-size:10pt;" cellpadding="2" cellspacing="2">
                        <tr><td style="vertical-align:top;">a.</td><td style="line-height:20px;">
                                Bahwa kewenangan pungutan Pajak Hotel & Restoran hak <?= $ar_pemda->s_namainstansi ?> Kabupaten <?= $ar_pemda->s_namakabkota ?>,
                                untuk pelimpahannya perlu dengan Surat Keputusan.</td></tr>
                        <tr><td style="vertical-align:top;">b.</td><td>bahwa sehubungan dengan itu perlu menetapkan sebagai Wajib Pungut Pajak Daerah</td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;padding-top:5px;">Mengingat</td>
                <td style="vertical-align:top;padding-top:5px;">:</td>
                <td>
                    <table style="font-size:10pt;" cellpadding="2" cellspacing="2">
                        <tr><td style="vertical-align:top;">1.</td><td>Undang-undang Nomor 28 Tahun 2009 tentang Pajak dan Retribusi Daerah</td></tr>
                        <tr><td style="vertical-align:top;">2.</td><td>Peraturan Daerah No. 3 Tahun 2011 tentang Pajak Hotel</td></tr>
                        <tr><td style="vertical-align:top;">3.</td><td>Peraturan Daerah No. 4 Tahun 2011 tentang Pajak Restoran dan Rumah Makan</td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;text-align:center;" colspan="3">M E M U T U S K A N</td>
            </tr>
            <tr>
                <td style="vertical-align:top;padding-top:5px;">Menetapkan</td>
                <td style="vertical-align:top;padding-top:5px;">:</td>
                <td style="line-height:20px;">Surat Keputusan Kepala <?= $ar_pemda->s_namainstansi ?> Kabupaten <?= $ar_pemda->s_namakabkota ?> 
                    Tentang Penunjukan Sebagai Wajib Pungut</td>
            </tr>
            <tr>
                <td style="vertical-align:top;padding-top:5px;">PERTAMA</td>
                <td style="vertical-align:top;padding-top:5px;">:</td>
                <td>
                    <table style="font-size:9.5pt;width:80%" cellpadding="2" cellspacing="2">
                        <tr><td colspan="3">Menunjuk : </td></tr>
                        <tr><td style="vertical-align:top;width:30%">Nama Usaha</td><td>:</td><td><?= strtoupper($data['t_namaobjek']) ?></td></tr>
                        <tr><td style="vertical-align:top;">Alamat Usaha</td><td style="vertical-align:top;">:</td><td><?= strtoupper($data['t_alamatobjek'] . ' - ' . $data['s_namakel'] . '<br>' . $data['s_namakec'] . ' - ' . $data['t_kabupatenobjek']) ?></td></tr>
                        <tr><td style="vertical-align:top;">NPWPD</td><td>:</td><td><?= $data['t_npwpdwp'] ?></td></tr>
                        <tr><td style="vertical-align:top;">Penanggung Pajak</td><td>:</td><td><?= strtoupper($data['t_namawp']) ?></td></tr>
                        <tr><td style="vertical-align:top;">Alamat</td><td style="vertical-align:top;">:</td><td><?= strtoupper($data['t_alamat_lengkapwp']) ?></td></tr>
                        <tr><td colspan="3">sebagai WAJIB PUNGUT PAJAK HOTEL & RESTORAN/HIBURAN *)</td></tr>
                        <tr><td colspan="3">YANG BERKEWAJIBAN MPS/MEMILIKI PEMBUKUAN/TANPA PEMBUKUAN *)</td></tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>KEDUA</td>
                <td>:</td>
                <td>Surat Keputusan ini mulai berlaku sejak tanggal ditetapkan</td>
            </tr>
            <tr>
                <td style="vertical-align:top;">KETIGA</td>
                <td style="vertical-align:top;">:</td>
                <td style="line-height:20px;">Apabila dikemudian hari terdapat kekeliruan dalam surat keputusan ini akan diadakan pembetulan seperlunya.</td>
            </tr>
        </table>
        <table style="font-size:12px;margin:20px 10px 10px 10px;width:100%;">
            <tr>
                <td width="60%"></td>
                <td width="40%" align="left">
                    <table class="border_bawah">
                        <tr><td>Ditetapkan di</td><td>:</td><td align="left"><?= $ar_pemda->s_namaibukotakabkota ?></td></tr>
                        <tr><td>Pada tanggal</td><td>:</td><td align="left"><?= date('d', strtotime($data['t_tgldaftarobjek'])) . ' ' . $txt_bulan[date('m', strtotime($data['t_tgldaftarobjek']))] . ' ' . date('Y', strtotime($data['t_tgldaftarobjek'])) ?></td></tr>
                    </table>
                </td>
            </tr>
            <tr>    
                <td></td>
                <td style="text-align:left;">
                <?php 
                if ($ar_mengetahui->s_idttpengguna == 1) {?>
                    An. KEPALA <?=  strtoupper($ar_pemda->s_namainstansi) ?><br>
               <?php }
                ?>
				<?= strtoupper($ar_mengetahui->s_jabatanpej) ?><br>KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?>
                    <br><br><br><br><br><br>
                    <?= strtoupper($ar_mengetahui->s_namapej . '<br>' . $ar_mengetahui->s_pangkatpej . '<br>NIP. ' . $ar_mengetahui->s_nippej) ?>
                </td>
            </tr>
        </table>
    </body>
</html>

