<html>

<body>
    <?php
    ini_set("max_execution_time", 5000);
    ini_set('memory_limit', '1024M');
    $txt_bulanrom = [
        '01' => 'I',
        '02' => 'II',
        '03' => 'III',
        '04' => 'IV',
        '05' => 'V',
        '06' => 'VI',
        '07' => 'VII',
        '08' => 'VIII',
        '09' => 'IX',
        '10' => 'X',
        '11' => 'XI',
        '12' => 'XII'
    ];
    $txt_namabulan = [
        'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
    ];
    $tgl_jatuhtempo = date('d', strtotime($data['t_tgljatuhtempo'])) . " " . $txt_namabulan[date('m', strtotime($data['t_tgljatuhtempo'])) - 1] . " " . date('Y', strtotime($data['t_tgljatuhtempo']));
    $tgl_daftar = date('d', strtotime($data['t_tgldaftar'])) . " " . $txt_namabulan[date('m', strtotime($data['t_tgldaftar'])) - 1] . " " . date('Y', strtotime($data['t_tgldaftar']));
    $tgl_cetak = date('d', strtotime($tglcetak)) . " " . $txt_namabulan[date('m', strtotime($tglcetak)) - 1] . " " . date('Y', strtotime($tglcetak));
    ?>
    <div style="border:10px double black;padding:15px 15px 0px 15px">
        <table width="100%">
            <tr>
                <td><img src="<?= $ar_pemda->s_logo ?>" width="65px"></td>
                <td colspan="2" style="text-align: center;">
                    <span style="font-size: 18pt;">PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkota); ?></span><br>
                    <span style="font-size: 14pt; font-weight: BOLD;"><?= strtoupper($ar_pemda->s_namainstansi); ?></span><br>
                    <small><?= $ar_pemda->s_alamatinstansi . ', HP/WA. ' . $ar_pemda->s_notelinstansi . ' ' . $ar_pemda->s_namaibukotakabkota . ' - Sulawesi Tengah ' ?> <?= $ar_pemda->s_kodepos ?>
                        <br><i style="color: red;"><?= $ar_pemda->s_website; ?></i>
                    </small>
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 4px double black;" colspan="3"></td>
            </tr>
        </table>
        <table width="100%" style="padding-top:30px;font-size: 11pt">
            <tr>
                <td colspan="3" style="text-align: center;font-size:14pt;font-family: monospace;"><u><strong>SURAT KETERANGAN FISKAL</strong></u></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">Nomor : 970/<?= str_pad($data['t_nomorurut'], 4, '0', STR_PAD_LEFT) . "/" . ucfirst(strtolower($ar_pemda->s_namasingkatinstansi)) . "/" . $txt_bulanrom[date('m', strtotime($data['t_tgldaftar']))] . "/" . date('Y', strtotime($data['t_tgldaftar'])) ?></td>
            </tr>
        </table>
        <table width="100%" style="font-size: 10pt" cellspacing="2" cellpadding="4">
            <tr>
                <td width="5%">&nbsp;</td>
                <td colspan="3" style="text-align: justify;padding-top:20px;line-height: 15px;"><?= $ar_pemda->s_namakabkota ?> menerangkan bahwa, wajib Pajak tersebut di</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: justify;line-height: 15px;">Bawah ini:</td>
            </tr>
            <tr>
                <td width="5%">1)</td>
                <td width="33%">Nama Usaha </td>
                <td width="2%">:</td>
                <td width="60%"><?= strtoupper($data['t_namaobjek']) ?></td>
            </tr>
            <tr>
                <td>2)</td>
                <td>Pengelola / Pemilik </td>
                <td>:</td>
                <td><?= strtoupper($data['t_pemilik']) ?></td>
            </tr>
            <tr>
                <td>3)</td>
                <td>Jenis Usaha </td>
                <td>:</td>
                <td><?= strtoupper($data['s_namausaha']) ?></td>
            </tr>
            <tr>
                <td style="vertical-align: top">4)</td>
                <td style="vertical-align: top">Alamat Tempat Tinggal </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top"><?= strtoupper($data['t_alamat_tinggal']) ?></td>
            </tr>
            <tr>
                <td style="vertical-align: top">5)</td>
                <td style="vertical-align: top">Alamat Tempat Usaha </td>
                <td style="vertical-align: top">:</td>
                <td style="vertical-align: top"><?= strtoupper($data['t_alamatlengkapobjek']) ?></td>
            </tr>
            <tr>
                <td>6)</td>
                <td>NPWPD </td>
                <td>:</td>
                <td><?= strtoupper($data['t_npwpd']) ?></td>
            </tr>
            <tr>
                <td colspan="4" style="padding-top:10px;text-align: justify;line-height: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bahwa sepanjang penelitian yang telah dilakukan atas data-data, yang bersangkutan telah melaksanakan kewajiban Fiskal dengan baik.
                    Surat keterangan Fiskal ini diberikan atas pemohon yang bersangkutan untuk keperluan <i><?= $data['t_ket_keperluan'] ?></i> <br>
                    dan berlaku hingga tanggal : <?= $tgl_jatuhtempo ?></td>
            </tr>
            <tr>
                <td colspan="4" style="padding-top:10px;text-align: justify;line-height: 30px;">Surat keterangan Fiskal ini hanya berlaku untuk penggunaan dalam Wilayah <?= $ar_pemda->s_namakabkota ?>.</td>
            </tr>
        </table>
        <table width="100%" style="padding-top:15px;padding-bottom: 80px;font-size: 10pt" cellspacing="2" cellpadding="4">
            <tr>
                <td width="55%"></td>
                <td width="45%">
                    Dikeluarkan di&nbsp;: <?= $ar_pemda->s_namaibukotakabkota ?><br>
                    <u>Pada Tanggal&nbsp;&nbsp;: <?= $tgl_daftar ?></u><br>

                    <b><?= $ar_pejabat->s_jabatanpej ?></b>
                    <br><br><br><br><br>
                    <u><b><?= $ar_pejabat->s_namapej ?></b></u><br>
                    <?= $ar_pejabat->s_pangkatpej ?><br>
                    NIP. <?= $ar_pejabat->s_nippej ?>
                </td>
            </tr>
        </table>
        <span style="vertical-align: bottom; text-align: left;font-size: 8px;">#<?= $ar_pemda->s_namasingkatinstansi . " " . date('Y') ?></span>
    </div>
</body>
<style type="text/css" media="print">
    body {
        font-family: sans-serif;
    }

    /*    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }*/
    .font_empatbelas {
        font-size: 14pt;
    }

    @page {
        margin: 70px 70px 70px 70px;
    }
</style>

</html>