<html>
    <body>
        <?php
        ini_set("max_execution_time", 5000);
        ini_set('memory_limit', '1024M');
        $txt_bulanrom = [
            '01' => 'I',
            '02' => 'II',
            '03' => 'III',
            '04' => 'IV',
            '05' => 'V',
            '06' => 'VI',
            '07' => 'VII',
            '08' => 'VIII',
            '09' => 'IX',
            '10' => 'X',
            '11' => 'XI',
            '12' => 'XII'];
        $txt_namabulan = [
            'Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'
        ];
        $tgl_cetak = date('d')." ".$txt_namabulan[date('m') -1]." ".date('Y');
        ?>
        <div style="">
            <table width="100%" style="font-family:arial">
                <tr>
                    <td width="35%" style="border: 1px solid #fff;"><img src="<?= $ar_pemda->s_logo ?>" width="60"></td>
                    <td style="text-align:center; padding-right: 35%;border: 1px solid #fff;">
                        <span style="font-size:12pt;">PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkota); ?></span><br>
                        <span style="font-size:15pt;font-weight: BOLD;"><?= strtoupper($ar_pemda->s_namainstansi); ?></span><br>
                        <span style="font-size:10pt;"><?= $ar_pemda->s_alamatinstansi; ?> <?= $notelp ?> <?= $ar_pemda->s_namaibukotakabkota ?> Kode Pos <?= $ar_pemda->s_kodepos ?></span>
                    </td>
                </tr>
            </table>
            <hr style="line-height: 1px; color: black">
            <h3 style="text-align: center;font-family:arial;">DAFTAR FISKAL</h3>
			<span>Tanggal Daftar : <?=$tgldaftar?></span>
            <table width="100%" class="font_sembilan" style="text-align: center; padding: 10px 10px 10px 10px;font-family:arial">
                <tr style="background:#ccc;">
                    <th>
                        No.
                    </th>
                    <th>
                        Nama Usaha
                    </th>
                    <th>
                        Pengelola/Pemilik
                    </th>
                    <th>
                        Alamat
                    </th>
                    <th>
                        Keterangan
                    </th>
                </tr>
                <?php
                $counter = 1;
                foreach($data as $key => $v){ ?>
                    <tr>
                        <td><?=$counter++?></td>
                        <td style="text-align:left;vertical-align:top;"><?=$v['t_namaobjek']?></td>
                        <td style="text-align:left;vertical-align:top;"><?=$v['t_nama']?></td>
                        <td style="text-align:left;vertical-align:top;"><?=$v['t_alamat_lengkap']?></td>
                        <td style="text-align:left;vertical-align:top;"><?=$v['t_ket_keperluan']?></td>
                    </tr>    
                <?php
                }
                ?>
            </table>
            <table width="100%" class="">
                <tr class="">
                    <td style=" width: 35%; text-align: center;vertical-align: bottom;border: 1px solid #fff;" class="">
                        
                    </td>
                    <td style=" width: 30%;border: 1px solid #fff;" class=""></td>
                    <td style=" width: 35%;text-align: center;vertical-align: bottom;border: 1px solid #fff;" class="">
                        <?= $ar_pemda->s_namaibukotakabkota .', '.$tgl_cetak.'<br>
                        '. $ar_diperiksa->s_jabatanpej .'
                        <br><br><br><br><br><br><br>
                        <b>'. $ar_diperiksa->s_namapej .'</b><br>
                        '. $ar_diperiksa->s_nippej  ?>
                    </td>
                </tr>
            </table>
        </div>
        <htmlpagefooter name="MyCustomFooter">
        <table style="vertical-align: bottom; font-family: serif;" width="100%">
            <tbody>
                <tr>
                        <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                    <td style="font-style: italic;text-align: left;font-size: 10px;border: 1px solid #fff;" width="50%">Printed by SIMPATDA</td>
                    <td style="font-style: italic;text-align: right;font-size: 12px;border: 1px solid #fff;" width="50%">Halaman {PAGENO} dari {nbpg}</td>
                </tr>
            </tbody>
        </table>
    </htmlpagefooter>
    </body>
    <style type="text/css" media="print">
        @page {
            /* ensure you append the header/footer name with 'html_' */
            header: html_MyCustomHeader; /* sets <htmlpageheader name="MyCustomHeader"> as the header */
            footer: html_MyCustomFooter; /* sets <htmlpagefooter name="MyCustomFooter"> as the footer */
        }
        body{font-family: sans-serif;}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .font_empatbelas {
            font-size: 14pt;
        }
        </style>
</html>

