<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_tambah');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>
<div id="page-content-wrapper">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil-square"></i>
                        Edit FISKAL
                        <a href="<?= $this->url('fiskal') ?>" class="btn btn-danger btn-xs pull-right"> Batal</a>
                    </h4>
                </div>
                <div class="example-box-wrapper">
                    <?= $this->form()->openTag($form) ?>
                    <div class="row pad10B">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">No. Urut</label>
                            <div class="col-md-2">
                                <?= $this->formText($form->get("t_nomorurut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Daftar </label>
                            <div class="col-md-3">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formHidden($form->get("t_idfiskal")) ?>
                                    <?= $this->formHidden($form->get("t_idwpwr")) ?>
                                    <?= $this->formHidden($form->get("t_idwpwrobjek")) ?>
                                    <?= $this->formHidden($form->get("t_tgldaftar_sebelumnya")) ?>
                                    <?= $this->formText($form->get("t_tgldaftar")) ?>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label">Tanggal Jatuh Tempo</label>
                            <div class="col-md-3">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formHidden($form->get("t_tgljatuhtempo_sebelumnya")) ?>
                                    <?= $this->formText($form->get("t_tgljatuhtempo")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">NPWPD </label>
                            <div class="col-md-3">
                                <?= $this->formText($form->get("t_npwpd")) ?>
                            </div>
                            <div class="col-md-1">
                                <a href="javascript:void(0)" onclick="cariwp()" class="btn btn-sm btn-primary"><span class="glyph-icon icon-search"></span> Cari</a>
                            </div>
                        </div>
                        <div class="col-md-12" id="divhidden_wpobjek">
                            <label class='col-md-2 control-label'>
                                Objek Pajak
                            </label>
                            <div class='col-md-5'>
                                <select name="t_wpobjek" id="t_wpobjek" class="form-control" onchange="cariWpObejek()">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Usaha </label>
                            <div class="col-md-4">
                                <?= $this->formText($form->get("t_nama")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Alamat Usaha </label>
                            <div class="col-md-8">
                                <?= $this->formText($form->get("t_alamat")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Pemilik </label>
                            <div class="col-md-4">
                                <?= $this->formText($form->get("t_pemilik")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Alamat Tinggal </label>
                            <div class="col-md-8">
                                <?= $this->formText($form->get("t_alamat_tinggal")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jenis Usaha</label>
                            <div class="col-md-3">
                                <?= $this->formSelect($form->get("t_jnsusaha")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Ket. Keperluan</label>
                            <div class="col-md-8">
                                <?= $this->formTextarea($form->get("t_ket_keperluan")) ?>
                            </div>
                        </div>
                    </div>
                    <div id="rinciansetoran"></div>
                    <div class="col-sm-12 bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Fiskalsubmit')) ?> 
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
    </div> 

<div class="modal fade" id="modalWp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Data Wajib Pajak</b></h4>
            </div>
            <div class='modal-body'>
                <div>
                    <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                        <thead class="cf">
                            <tr class="bg-blue">
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    NPWPD
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Nama WP
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Alamat
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    #
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="npwpd" class="form-control input-sm" onkeyup="calldataGridWp()">
                                </td>
                                <td>
                                    <input type="text" id="namawp" class="form-control input-sm" onkeyup="calldataGridWp()">
                                </td>
                                <td>
                                    
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="listwp">
                        </tbody>
                        <tfoot>              
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                        <div class="col-sm-3">
                                            <a href="#" onclick="calldataGridWp(1);
                                                    return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                            <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                            <a href="#" onclick="calldataGridWp(2);
                                                    return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//    $(function () {
//        $('#t_nosbh').on('blur keyup keydown keypress', function () {
//            ceknosbh();
//        });
//        $('#t_tglsbh').on('change', function () {
//            carisetoran();
//        });
//    });

    $(function () {
        $('#divhidden_wpobjek').hide();
    });

    function calldataGridWp(direction) {
        dataGridWp($("#page").val(), $("#rows").val(), direction);
    }

    function dataGridWp(page, row, direction) {
        $.post('<?= $this->url() ?>/dataGridWp/' + page + '/' + row + '/' + direction + "?npwpd=" + $("#npwpd").val()+ "&namawp=" + $("#namawp").val(), function (data) {
            var aa = JSON.parse(data);
            $("#listwp").html(aa.gridfiskal);
            $("#rows").val(aa.rowsfiskal);
            $("#page").val(aa.pagefiskal);
            $("#total_data").html(": " + aa.countfiskal);
            $("#total_halaman").html(": " + aa.total_halamanfiskal);
        });
    }
    
    function pilihWp(a) {
        $.post('<?= $this->url() ?>/pilihWp', {t_idwp: a}, function (data) {
            var aa = JSON.parse(data);
            $('#t_idwpwr').val(aa.t_idwp);
            $('#t_npwpd').val(aa.t_npwpd);
            $('#t_pemilik').val(aa.t_nama);
            $('#t_alamat_tinggal').val(aa.t_alamat_tinggal);
            $('#t_wpobjek').html(aa.t_wpobjek);
            $('#divhidden_wpobjek').show();
            $('#modalWp').modal('hide');
        });
    }
    
    function cariWpObejek() {
        $.post('<?= $this->url() ?>/carinpwpd', {t_wpobjek: $("#t_wpobjek").val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_idwpwrobjek').val(aa.t_idwpwrobjek);
            $('#t_nama').val(aa.t_nama_usaha);
//            $('#t_pemilik').val(aa.t_nama_pemilik);
            $('#t_alamat').val(aa.t_alamat_usaha);
//            $('#rinciansetoran').html(aa.rinciansetoran);
        });
    }
    
    function cariwp() {
        calldataGridWp();
        $('#modalWp').modal('show');
    }
    
</script>