<div id="page-content-wrapper">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-cubes"></i> FISKAL 
                    <a href="<?= $this->url('fiskal').'/form_tambah' ?>" class="btn btn-primary btn-xs pull-right"><span class="glyph-icon icon-plus"></span> Tambah</a>
                    <a href="javascript:void(0)" onclick="bukaCetakDaftarFiskal()" class="btn btn-danger btn-xs pull-right"><span class="glyph-icon icon-print"></span> Cetak Daftar Fiskal</a>
                </h4>
            </div>
            <div class="panel-body">
                <!-- <div class="row">
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="combocari" onchange="calldatagrid()">
                            <option value="">Pilih Pencarian</option>
                            <option value="t_nomorurut">No. Urut</option>
                            <option value="t_npwpd">NPWPD</option>
                            <option value="t_nama">NAMA WP</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group input-group-sm">
                            <input type="text" placeholder="Cari" class="form-control pull-right" name="kolomcari" id="kolomcari" onkeyup="calldatagrid()">
                            <div class="input-group-btn combooperatorc">
                                <select data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="combooperator" onchange="calldatagrid()" style="text-align: left;">
                                    <option value="">Pilih</option>
                                    <option value="carisama">=</option>
                                    <option value="carilike">%</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <span class="hiddene">
                            <select class="form-control input-sm" id="combosorting" onchange="calldatagrid()">
                                <option value="">Pilih Urutan</option>
                                <option value="t_nomorurut">No. Urut</option>
                                <option value="t_npwpd">NPWPD</option>
                                <option value="t_nama">NAMA WP</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <span class="hiddene">
                            <div class="form-inline">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="ASC" id="sortasc" name="sortere" onclick="calldatagrid()">
                                        Terkecil
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" checked="" value="DESC" id="sortdesc" name="sortere" onclick="calldatagrid()">
                                        Terbesar
                                    </label>
                                </div>
                            </div>
                        </span>
                    </div>
                </div> -->
                <div class="example-box-wrapper">
                    <div class="row" style="overflow: auto;">
                        <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                            <thead class="cf" style="background-color: blue">
                                <tr class="bg-blue">
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        No.
                                    </th>         
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        No. Urut
                                    </th>          
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Tgl. Daftar
                                    </th>         
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        NPWPD
                                    </th> 
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Nama Usaha
                                    </th>         
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Nama Pemilik
                                    </th>       
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Alamat 
                                    </th>         
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Jenis Usaha
                                    </th>       
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Tgl. Jatuh Tempo
                                    </th>       
                                    <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                        Status
                                    </th>       
                                </tr>
                                <tr class="bg-default">
                                    <td style="vertical-align: middle;">Cari:</td>
                                    <td><input type="text" id="t_nomorurut_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                                    <td><input type="text" id="t_tgldaftar_cari_0" class="form-control input-sm" onchange="calldatagrid()"></td>
                                    <td><input type="text" id="t_npwpd_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                                    <td><input type="text" id="t_namausaha_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                                    <td><input type="text" id="t_namapemilik_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                                    <td><input type="text" id="t_alamat_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                                    <td><input type="text" id="t_jenisusaha_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                                    <td><input type="text" id="t_tgljatuhtempo_cari_0" class="form-control input-sm" onchange="calldatagrid()"></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="body_grid">
                            </tbody>
                            <tfoot>              
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <div class="row">
                                            <div class="col-sm-3 text-left">
                                                <span class="hiddene">
                                                    <select id="rows" class="form-control" style="width: 30%" onchange="calldatagrid(1)">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="40">40</option>
                                                        <option value="50">50</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-6" style="text-align: center">
                                                <center>
                                                    <div id="paginatore"></div>
                                                    <input type="hidden" id="page" value="1">
                                                </center>
                                            </div>
                                            <div class="col-sm-3 text-right">
                                                <span class="hiddene">
                                                    <p>
                                                        <b style="font-size: 13px; color: orangered"><span id="awaldata"></span> s/d <span id="akhirdata"></span> Dari <span id="total_data"></span> Data</b>
                                                    </p>  
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetailPenetapan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>DETAIL PENETAPAN PAJAK</b></h4>
            </div>
            <div class='modal-body'>
                <div class='example-box-wrapper'>
                    <div class='example-box-wrapper'>
                        <div id="penetapanpajak"></div>
                    </div>
                </div> 
            </div>
            <div class='modal-footer'>
                <div class='col-sm-12'> 
                    <button class='btn btn-danger btn-xs' onclick='tutupDetailPenetapan()'>Close</button>
                </div>              
            </div> 
        </div>
    </div>
</div>
<div class="modal fade" id="bukaCetakFISKAL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>CETAK DATA SK FISKAL</b></h4>
            </div>
            <div class='modal-body'>
                <div class='example-box-wrapper'>
                    <div class='example-box-wrapper'>
<!--                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                Tanggal Cetak
                            </div>
                            <div class="col-sm-3">
                                
                                <input type="text" class="bootstrap-datepicker form-control" readonly="true" value="<?= date('d-m-Y') ?>" name="tglcetak" id="tglcetak">
                            </div>
                        </div>-->
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                Mengetahui
                            </div>
                            <div class="col-sm-9">
                                <input type="hidden" name="idfiskal" id="idfiskal">
                                <select name="t_mengetahui" id="t_mengetahui" class="form-control">
                                    <!--<option value="">Silahkan Pilih</option>-->
                                    <?php $no=1; foreach ($ar_pejabat as $row) { ?>
                                        <option value="<?= $row['s_idpej'] ?>"><?= str_pad($no++, 2, "0", STR_PAD_LEFT) ?> || <?= $row['s_namapej']." - ".$row['s_jabatanpej'] ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class='modal-footer'>
                <div class='col-sm-12'> 
                    <a href="#" class="btn btn-xs btn-danger" title="" onclick="cetakdataFiskal()"><i class="glyph-icon icon-file-pdf-o"></i> PDF</a>
                    <button class='btn btn-primary btn-xs' onclick='tutupCetakData()'>Close</button>
                </div>              
            </div> 
        </div>
    </div>
</div>
<div class="modal fade" id="bukaCetakDaftarFISKAL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>CETAK DAFTAR FISKAL</b></h4>
            </div>
            <div class='modal-body'>
                <div class='example-box-wrapper'>
                    <div class='example-box-wrapper'>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                Tanggal Daftar
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="bootstrap-datepicker form-control" readonly="true" value="<?= date('d-m-Y') ?>" name="tgldaftar0" id="tgldaftar0">
                            </div>
                            <div class="col-sm-1">
                                S/D
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="bootstrap-datepicker form-control" readonly="true" value="<?= date('d-m-Y') ?>" name="tgldaftar1" id="tgldaftar1">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                Jenis Fiskal
                            </div>
                            <!-- <div class="col-sm-6">
                                <select name="t_jenisfikal" id="t_jenisfikal" class="form-control">
                                    <option value="">Silahkan Pilih</option>
                                    <option value="1">01 || Fiskal Tender</option>
                                    <option value="2">02 || Fiskal SIUP</option>
                                </select>
                            </div> -->
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                Mengetahui
                            </div>
                            <div class="col-sm-9">
                                <select name="t_mengetahuidaftar" id="t_mengetahuidaftar" class="form-control">
                                    <!--<option value="">Silahkan Pilih</option>-->
                                    <?php $no=1; foreach ($ar_pejabat as $row) { ?>
                                        <option value="<?= $row['s_idpej'] ?>"><?= str_pad($no++, 2, "0", STR_PAD_LEFT) ?> || <?= $row['s_namapej']." - ".$row['s_jabatanpej'] ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class='modal-footer'>
                <div class='col-sm-12'> 
                    <a href="#" class="btn btn-xs btn-danger" title="" onclick="cetakdaftarfiskal()"><i class="glyph-icon icon-file-pdf-o"></i> PDF</a>
                    <button class='btn btn-primary btn-xs' onclick='tutupCetakDaftarFiskal()'>Close</button>
                </div>              
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#t_tgldaftar_cari_0').daterangepicker({
            format: 'DD-MM-YYYY'
        }, function () {
            calldatagrid();
        });
    });

    $(function () {
        $('#t_tgljatuhtempo_cari_0').daterangepicker({
            format: 'DD-MM-YYYY'
        }, function () {
            calldatagrid();
        });
    });

    $(function () {
        calldatagrid();
    });

    function calldatagrid(direction) {
        // if ($("#combocari").val().length == 0)
        //     par1 = undefined;
        // else
        //     par1 = $("#combocari").val()
        // if ($("#kolomcari").val().length == 0)
        //     par2 = undefined;
        // else
        //     par2 = $("#kolomcari").val()
        // if ($("#combosorting").val().length == 0)
        //     par3 = undefined;
        // else
        //     par3 = $("#combosorting").val()
        // if (document.getElementById("sortasc").checked)
        //     par4 = $("#sortasc").val()
        // else
        //     par4 = undefined;
        // if (document.getElementById("sortdesc").checked)
        //     par5 = $("#sortdesc").val()
        // else
        //     par5 = undefined;
        // if ($("#combooperator").val().length == 0)
        //     par6 = undefined;
        // else
        //     par6 = $("#combooperator").val()
        datagrid($("#page").val(), $("#rows").val(), direction); //, par1, par2, par3, par4, par5, par6
    }

    function datagrid(page, row, direction) {
        $.post('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction, {
            t_nomorurut: $('#t_nomorurut_cari_0').val(),
            t_tgldaftar: $('#t_tgldaftar_cari_0').val(),
            t_npwpd: $('#t_npwpd_cari_0').val(),
            t_namausaha: $('#t_namausaha_cari_0').val(),
            t_namapemilik: $('#t_namapemilik_cari_0').val(),
            t_alamat: $('#t_alamat_cari_0').val(),
            t_jenisusaha: $('#t_jenisusaha_cari_0').val(),
            t_tgljatuhtempo: $('#t_tgljatuhtempo_cari_0').val()
        },function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
            $("#paginatore").html(aa.paginatore);
            $("#awaldata").html(aa.awaldata);
            $("#akhirdata").html(aa.akhirdata);
        });
    }

    function bukaDetailPenetapan(a) {
        $.post('<?= $this->url() ?>/dataPenetapan', {idtransaksi: a}, function (data) {
            var aa = JSON.parse(data);
            $("#penetapanpajak").html(aa.datapenetapan);
        });
        $('#modalDetailPenetapan').modal('show');
    }

    function tutupDetailPenetapan() {
        $('#modalDetailPenetapan').modal('hide');
    }

    function bukaCetakFISKAL(a) {
        $.post('<?= $this->url() ?>/dataFiskal', {idfiskal: a}, function (data) {
            var aa = JSON.parse(data);
            $("#idfiskal").val(aa.idfiskal);
        });
        $('#bukaCetakFISKAL').modal('show');
    }

    function tutupCetakData() {
        $('#bukaCetakFISKAL').modal('hide');
    }

    function bukaCetakDaftarFiskal() {
        $('#bukaCetakDaftarFISKAL').modal('show');
    }

    function tutupCetakDaftarFiskal() {
        $('#bukaCetakDaftarFiskal').modal('hide');
    }

    function cetakdataFiskal() {
        window.open('<?= $this->url() ?>/cetakdatafiskal?idfiskal=' + $("#idfiskal").val() + "&t_mengetahui=" + $("#t_mengetahui").val());
    }
    
    function cetakdaftarfiskal() {
        window.open('<?= $this->url() ?>/cetakdaftarfiskal?t_mengetahui=' + $("#t_mengetahuidaftar").val() + "&tgldaftar0=" + $("#tgldaftar0").val() + "&tgldaftar1=" + $("#tgldaftar1").val() + "&jenisfiskal=" + $("#t_jenisfikal").val());
    }

</script>
<style type="text/css">
    .combooperatorc select {
        border: 0 !important;  /*Removes border*/
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        appearance:none;
        /*background: #E08E0B url(img/select-arrow.png) no-repeat 90% center;*/
        background: #E08E0B no-repeat 90% center;
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        color: #FFF;
    }	
</style>