<div class="tab-pane active" id="tab1">
    <div id="page-content-wrapper">
        <div class="example-box-wrapper">
            <div class="row" style="overflow: auto">
                <table class="table table-condensed table-bordered cf tableDaftar" style="font-size: 11px; color:black">
                    <thead class="cf" style="background-color: blue">
                        <tr class="bg-blue">
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                No.
                            </th>         
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                No. Surat
                            </th>          
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                Tgl. Permohonan
                            </th>       
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                NPWPD
                            </th>       
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                Nama Wajib Pajak
                            </th>       
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                Nama Objek
                            </th>       
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                Pajak Seharusnya (Rp.)
                            </th>       
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;">
                                Status Permohonan
                            </th>       
                            <th style="background-color: #00BCA4; color: white; text-align: center;vertical-align: middle;width: 10%;">
                                #
                            </th>  
                        </tr>
                        <tr class="bg-default">
                            <td></td>
                            <td><input type="text" id="t_nosurat_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                            <td><input type="text" id="t_tgldaftar_cari_0" class="form-control input-sm" onchange="calldatagrid()"></td>
                            <td><input type="text" id="t_npwpd_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                            <td><input type="text" id="t_nama_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                            <td><input type="text" id="t_namaobjek_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                            <td><input type="text" id="t_jmlhpajak_cari_0" class="form-control input-sm" onkeyup="calldatagrid()"></td>
                            <td><select id="t_status_cari_0" class="form-control input-sm" onchange="calldatagrid()">
                                <option value="">-ALL-</option>
                                <option value="3">BARU</option>
                            </select></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="body_grid">
                    </tbody>
                    <tfoot>              
                        <tr>
                            <td colspan="9" class="text-center">
                                <div class="row">
                                    <div class="col-sm-3 text-left">
                                        <span class="hiddene">
                                            <select id="rows" class="form-control" style="width: 30%" onchange="calldatagrid(1)">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-sm-6" style="text-align: center">
                                        <center>
                                            <div id="paginatore"></div>
                                            <input type="hidden" id="page" value="1">
                                        </center>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <span class="hiddene">
                                            <p>
                                                <b style="font-size: 13px; color: orangered"><span id="awaldata"></span> s/d <span id="akhirdata"></span> Dari <span id="total_data"></span> Data</b>
                                            </p>  
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#t_tgldaftar_cari_0').daterangepicker({
            format: 'DD-MM-YYYY'
        }, function () {
            calldatagrid();
        });
    });

    $(function () {
        calldatagrid();
    });

    function calldatagrid(direction) {
        datagrid($("#page").val(), $("#rows").val(), direction);
    }

    function datagrid(page, row, direction) {
        $.post('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction, {
            t_nosurat: $('#t_nosurat_cari_0').val(),
            t_tgldaftar: $('#t_tgldaftar_cari_0').val(),
            t_npwpd: $('#t_npwpd_cari_0').val(),
            t_nama: $('#t_nama_cari_0').val(),
            t_namaobjek: $('#t_namaobjek_cari_0').val(),
            t_jmlhpajak: $('#t_jmlhpajak_cari_0').val(),
            t_status: $('#t_status_cari_0').val()
        }, function (data) {
            var aa = JSON.parse(data);
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
            $("#paginatore").html(aa.paginatore);
            $("#awaldata").html(aa.awaldata);
            $("#akhirdata").html(aa.akhirdata);
        });
    }
</script>

<style>
    .tableDaftar {
        width: 100%;
        border-collapse: collapse;
    }
    .tableDaftar tr:hover {
        background: #edf968; 
    }
    .tableDaftar td {
        border: 1px solid #eee;
    }
</style>