<html>
    <head>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <div class="printarea">            
            <h2 style="text-align: center">DAFTAR OPD/SKPD</h2>
            <table width="100%" style="font-size: 12px">
                <tr>
                    <td style="width: 5%; text-align: center">
                        No.
                    </td>
                    <td style="text-align: center">
                        Nama OPD/SKPD
                    </td>
                    <td style="text-align: center">
                        Alamat
                    </td>
                    <td style="text-align: center">
                        Kecamatan
                    </td>
                    <td style="text-align: center">
                        Kelurahan
                    </td>
                </tr>
                <?php
                $counter = 1;
                foreach ($this->dataskpd as $k => $v) {
                    ?>
                    <tr>
                        <td style="text-align: center">
                            <?= $counter ?>
                        </td>
                        <td>
                            <?= $v['t_namaskpd']; ?>
                        </td>
                        <td>
                            <?= $v['t_jalanskpd']; ?>
                        </td>
                        <td>
                            <?= $v['s_namakec']; ?>
                        </td>
                        <td>
                            <?= $v['s_namakel']; ?>
                        </td>
                    </tr>
                    <?php
                    $counter++;
                }
                ?>
            </table>
        </div>
    </body>
</html>