
<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->setAttribute("data-parsley-validate", "data-parsley-validate");
$frm->prepare();
?>
<div id="page-content-wrapper">
    <div id="page-content">
        <div class="">
            <!-- Parsley -->
            <div id="page-title">
                <h2>
                    Setting SKPD/OPD [EDIT]
                </h2>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="example-box-wrapper">         
                        <div>   
                        <?= $this->form()->openTag($frm) ?>    

                        <div class="col-sm-12">
                            <label class="col-sm-1 control-label">Nama OPD/SKPD</label>
                            <div class="col-md-4">
                                <?= $this->formHidden($frm->get('t_idskpd')) ?>  
                                <?= $this->formRow($frm->get('t_namaskpd')) ?> 
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-1 control-label">Alamat</label>
                            <div class="col-md-4">
                                <?= $this->formRow($frm->get('t_jalanskpd')) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-1 control-label">Kecamatan</label>
                            <div class="col-md-4">
                                <?= $this->formRow($frm->get('t_idkecskpd')) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-1 control-label">Kelurahan</label>
                            <div class="col-md-4">
                                <?= $this->formRow($frm->get('t_idkelskpd')) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-md-4">
                                <?= $this->formInput($frm->get('simpan')) ?> 
                                <a href="<?= $this->url('setting_skpd') ?>" class="btn btn-warning btn-sm">Kembali</a>
                            </div>
                        </div>
                        <?= $this->form()->closeTag($frm) ?>  

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function comboKelurahanCamat() {
        $.post('<?= $this->url() ?>/comboKelurahanCamat', {s_idkec: $('#t_idkecskpd').val()}, function (data) {
            var aa = JSON.parse(data);
            $("#t_idkelskpd").html(aa.res);
            $("#keckelluar").html(aa.keckelluar);
        });
    }
</script>
