<?php
include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/barcodecoy/qrlib.php');

$PNG_TEMP_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' .
    $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' .
    $data['t_idtransaksi'] . '/';

$PNG_WEB_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' .
    $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' .
    $data['t_idtransaksi'] . '/';

if (!file_exists($PNG_TEMP_DIR)) {
    mkdir($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/', 0777, true);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/', 0777);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/', 0777);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi']  . '/', 0777);
}

$errorCorrectionLevel = 'L';
$matrixPointSize = 3;
$barcode = $data['t_kodebayar'];

$filename = $PNG_TEMP_DIR . '' . $data['t_idjenisobjek'] . '_' . $data['t_periodepajak'] . '_' . $data['t_idtransaksi'] . '_' . md5($barcode . '|' . $errorCorrectionLevel . '|' . $matrixPointSize) . '.png';
QRcode::png($barcode, $filename, $errorCorrectionLevel, $matrixPointSize, 2);

$tampilbarcode = '<img src="' . $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/' . basename($filename) . '" />';
?>
<html>

<head>
    <style type="text/css">
        .border_atas {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        .border_kiri {
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .border_kanan {
            border-right: 1px solid black;
            border-collapse: collapse;
        }

        .border_bawah {
            border-bottom: 1px solid black;
            border-collapse: collapse;
        }

        .font_lima {
            font-size: 5pt;
        }

        .font_tujuh {
            font-size: 7pt;
        }

        .font_delapan {
            font-size: 9pt;
        }

        .font_sembilan {
            font-size: 9pt;
        }

        .font_sepuluh {
            font-size: 10pt;
        }

        .font_duabelas {
            font-size: 12pt;
        }

        /*            .tabel{
                            display: table !important;
                            width: auto;
                            border-collapse: collapse;
                        }
                        .baris {
                            display: table-row !important;
                            width: auto;
                            clear: both;
                        }*/
        .kolom {
            display: inline-table !important;
        }

        table {
            font-family: Arial;
        }

        @page {
            margin-top: 40px;
            margin-bottom: 70px;
            margin-left: 30px;
            margin-right: 30px;
            /* ensure you append the header/footer name with 'html_' */
            header: html_MyCustomHeader;
            /* sets <htmlpageheader name="MyCustomHeader"> as the header */
            footer: html_MyCustomFooter;
            /* sets <htmlpagefooter name="MyCustomFooter"> as the footer */
        }
    </style>
</head>

<body>
    <?php
    ini_set("max_execution_time", 500);
    if (!function_exists('kekata')) {

        function kekata($x)
        {
            $x = abs($x);
            $angka = array(
                "", "Satu", "Dua", "Tiga", "Empat", "Lima",
                "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas"
            );
            $temp = "";
            if ($x < 12) {
                $temp = " " . $angka[$x];
            } else if ($x < 20) {
                $temp = kekata($x - 10) . " Belas";
            } else if ($x < 100) {
                $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
            } else if ($x < 200) {
                $temp = " Seratus" . kekata($x - 100);
            } else if ($x < 1000) {
                $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
            } else if ($x < 2000) {
                $temp = " Seribu" . kekata($x - 1000);
            } else if ($x < 1000000) {
                $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
            } else if ($x < 1000000000) {
                $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
            } else if ($x < 1000000000000) {
                $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
            } else if ($x < 1000000000000000) {
                $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
            }
            return $temp;
        }
    }

    function terbilang($x, $style = 4)
    {
        if ($x < 0) {
            $hasil = "MINUS " . trim(kekata($x));
        } else {
            $hasil = trim(kekata($x));
        }
        switch ($style) {
            case 1:
                $hasil = strtoupper($hasil);
                break;
            case 2:
                $hasil = strtolower($hasil);
                break;
            case 3:
                $hasil = ucwords($hasil);
                break;
            default:
                $hasil = ucfirst($hasil);
                break;
        }
        return $hasil;
    }

    $abulan = ['01' => 'Januari', '02' => 'Februari', '03' => 'Maret', '04' => 'April', '05' => 'Mei', '06' => 'Juni', '07' => 'Juli', '08' => 'Agustus', '09' => 'September', '10' => 'Oktober', '11' => 'November', '12' => 'Desember'];
    $t_tglpendataan = date('d', strtotime($data['t_tglpendataan'])) . " " . $abulan[date('m', strtotime($data['t_tglpendataan']))] . " " . date('Y', strtotime($data['t_tglpendataan']));
    ?>
    <table class="border_bawah font_delapan" style="width: 100%">
        <tr>
            <td style="width: 15%;text-align: center;">
                <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>" style="width:60px;" />
            </td>
            <td style="width: 85%; text-align: center;">
                <b style="font-size: 16px;">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></b>
                <br>
                <b style=" font-size: 20px;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                <br>
                <?= $ar_pemda->s_alamatinstansi ?> <?= $ar_pemda->s_namaibukotakabkota ?><br>Telp/Fax <?= $ar_pemda->s_notelinstansi ?>
            </td>
        </tr>
    </table>
    <table class="border_atas border_bawah  font_delapan" style="width: 100%">
        <tr>
            <td style="width: 60%; text-align: center;">
            </td>
            <td><?= $tampilbarcode ?></td>
            <td style="width: 36%; ">
                <table style="border:#fff 1px solid;">
                    <tr>
                        <td>No. SPTPD</td>
                        <td>:</td>
                        <td>SPTPD/RESTORAN/<?= $data['t_nourut'] ?></td>
                    </tr>
                    <tr>
                        <td>Masa Pajak</td>
                        <td>:</td>
                        <?php if (date('m-Y', strtotime($data['t_masaawal'])) == date('m-Y', strtotime($data['t_masaakhir']))) : ?>
                            <td><?= $abulan[date('m', strtotime($data['t_masaawal']))] ?></td>
                        <?php else : ?>
                            <td><?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> S/D <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?></td>
                        <?php endif; ?>
                    </tr>
                    <tr>
                        <td>Tahun Pajak</td>
                        <td>:</td>
                        <td><?= date('Y', strtotime($data['t_masaawal'])); ?></td>
                    </tr>
                    <tr>
                        <td>Kode Bayar</td>
                        <td>:</td>
                        <td><b><?= $data['t_kodebayar'] ?></b></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="border_bawah font_delapan" style="width: 100%;">
        <tr>
            <td style="border-spacing:0px; text-align: center" colspan="4">
                <b>
                    SPTPD (Surat Pemberitahuan Pajak Daerah)
                    <br>
                    PBJT - Makanan dan atau Minuman
                </b>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="border_bawah" style="border-spacing:0px; padding-left: 10px;">
                <table style="border-spacing: 0">
                    <tr>
                        <td style="width:20%"><b>NPWPD</b></td>
                        <td style="width:5%">:</td>
                        <td style="width:70%"><?= $data['t_npwpd']; ?></td>
                    </tr>

                </table>
            </td>
            <td class="border_bawah" style="padding:0;border-spacing:0px; vertical-align: top">
                Kepada Yth.
                <br>
                Kepala <?= $ar_pemda->s_namainstansi ?>
                <br>di <?= $ar_pemda->s_namaibukotakabkota ?>

            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px;">
                PERHATIAN :
            </td>
        </tr>
        <tr>
            <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                1.
            </td>
            <td colspan="3">
                Harap diisi dalam rangkap 2 (dua) ditulis dengan huruf cetak
            </td>
        </tr>
        <tr>
            <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                2.
            </td>
            <td colspan="3">
                Beri nomor pada kotak yang tersedia untuk jawaban yang diberikan
            </td>
        </tr>
        <tr>
            <td style="width: 5%;border-spacing:0px; padding-left: 15px; vertical-align: top">
                3.
            </td>
            <td colspan="3">
                Setelah diisi dan ditandatangani, harap diserahkan kembali ke <?= $ar_pemda->s_namainstansi ?> paling lambat tanggal 20
            </td>
        </tr>
        <tr>
            <td style="width: 5%; border-spacing:0px; padding-left: 15px; vertical-align: top">
                4.
            </td>
            <td colspan="3">
                Keterlambatan Penyerahan tanggal tersebut diatas akan dilakukan penetapan secara jabatan.
            </td>
        </tr>
        <tr>
            <td style="width: 5%; border-spacing:0px; padding-left: 15px; vertical-align: top" class="border_bawah">
                5.
            </td>
            <td colspan="3" class="border_bawah">
                Wajib Pajak yang melakukan usaha dengan omzet paling sedikit Rp. 300.000.000,00 (tiga ratus juta rupiah) per tahun wajib menyelenggarakan pembukuan dan pencatatan.
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                Diisi oleh Wajib Pajak
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr>

            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Wajib Pajak</td>
            <td>:</td>
            <td><?= $data['t_namawp'] ?></td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Alamat Wajib Pajak</td>
            <td>:</td>
            <td><?= $data['t_alamat_lengkapwp'] ?></td>
        </tr>

        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Objek Pajak / NIOP</td>
            <td>:</td>
            <td><?= $data['t_namaobjek'] ?> / <?= $data['t_nop'] ?></td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Alamat Objek Pajak</td>
            <td>:</td>
            <td><?= $data['t_alamatlengkapobjek'] ?></td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Jenis Usaha</td>
            <td>:</td>
            <td>RESTORAN / RUMAH MAKAN / DEPOT / WARUNG MAKAN</td>
        </tr>
        <tr>

            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Kegiatan</td>
            <td>:</td>
            <td><?= $data['t_namakegiatan'] ?></td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr style="text-align: center">
            <td>
                <table style="margin-left: 15px; margin-right: 15px; border: 1px solid black; border-collapse: collapse; width: 100%; margin-bottom: 10px">
                    <tr>
                        <td style="width: 5%; border: 1px solid black; border-collapse: collapse; text-align: center">
                            No.
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Meja yang tersedia
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Jumlah Kursi
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Jumlah Pengunjung rara-rata / hari
                        </td>
                    </tr>
                    <?php for ($i = 1; $i <= 3; $i++) { ?>
                        <tr>
                            <td style="text-align: center; border: 1px solid black; border-collapse: collapse">
                                <?= $i ?>
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse;">

                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: right">

                            </td>

                            <td style="border: 1px solid black; border-collapse: collapse; text-align: right">

                            </td>
                        </tr>
                    <?php } ?>
                </table>
            </td>
        </tr>
    </table>

    <table class="border_atas font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                Omzet yang harus diisi oleh Wajib Pajak
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">

        <tr>

            <td colspan="4" style="vertical-align: top; width: 5%; padding-left: 15px">
                Jumlah Pembayaran dan Pajak Terhutang untuk Masa Pajak Sekarang (lampirkan foto copy dokumen) :
            </td>
        </tr>
        <tr>


            <td style="width: 40% ; padding-left: 15px">
                a. Masa Pajak
            </td>
            <td style="width: 2%">
                :
            </td>
            <td>
                <?php
                $t_masaawalskrng = ($data['t_masaawal'] != null ? date('d-m-Y', strtotime($data['t_masaawal'])) : ''); // returns true
                $t_masaakhirskrng = ($data['t_masaakhir'] != null ? date('d-m-Y', strtotime($data['t_masaakhir'])) : ''); // returns true
                ?>
                Tgl. <?= $t_masaawalskrng ?>
                s/d
                Tgl. <?= $t_masaakhirskrng ?>
            </td>
        </tr>
        <tr>


            <td style="padding-left: 15px">
                b. Pendapatan (omzet) bulan
                <?php if (date('m-Y', strtotime($data['t_masaawal'])) == date('m-Y', strtotime($data['t_masaakhir']))) : ?>
                    <?= $abulan[date('m', strtotime($data['t_masaawal']))] ?>
                <?php else : ?>
                    <?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> S/D <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?>
                <?php endif; ?>
            </td>
            <td style="vertical-align: top;">
                :
            </td>
            <td style="vertical-align: top;">
                Rp. <?= number_format($data['t_dasarpengenaan'], 0, ",", "."); ?>,-
            </td>
        </tr>
        <tr>

            <td style="padding-left: 15px">
                c. Tarif Pajak (Sesuai Perda)
            </td>
            <td>
                :
            </td>
            <td>
                <?= $data['t_tarifpajak']; ?> %
            </td>
        </tr>
        <tr>

            <td style="padding-left: 15px">
                d. Pajak Terhutang ( b x c )
            </td>
            <td>
                :
            </td>
            <td>
                Rp. <?= number_format($data['t_jmlhpajak'], 0, ",", "."); ?>,-
            </td>
        </tr>
    </table>
    <table class=" border_atas font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                Pernyataan
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%">
        <tr>
            <td style="width: 5%; padding-left: 15px;  padding-right: 15px; text-align: justify" colspan="2">
                Dengan menyadari sepenuhnya akan akibat termasuk sanksi-sanksi sesuai dengan ketentuan perudang-undangan yang berlaku, saya
                atau yang saya beri kuasa menyatakan apa yang telah kami beritahukan tersebut diatas beserta lampiran-lampirannya adalah benar,
                lengkap dan jelas.
            </td>
        </tr>
        <tr>
            <td style="width: 32%">

            </td>
            <td style="text-align: center">
                <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpendataan ?>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td style="text-align: center">
                Wajib Pajak
                <br><br><br><br><br>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px">

            </td>
            <td style="text-align: center; padding-bottom: 10px">
                ( <?= strtoupper($data['t_nama']) ?> )
            </td>
        </tr>
    </table>
    <htmlpagefooter name="MyCustomFooter">
        <table style="vertical-align: bottom; font-family:sans-serif;font-size: 7pt;" width="100%">
            <tbody>
                <tr>
                    <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                    <td style="font-style: italic;text-align: left;border: 1px solid #fff;" width="50%">Printed by SIMPATDA</td>
                    <td style="font-style: italic;text-align: right;border: 1px solid #fff;" width="50%">Halaman {PAGENO} dari {nbpg}</td>
                </tr>
            </tbody>
        </table>
    </htmlpagefooter>
</body>

</html>