<?php
    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/barcodecoy/qrlib.php');
    
    $PNG_TEMP_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . 
                    $data['t_idjenisobjek'] . '/'.$data['t_periodepajak'].'/' .
                    $data['t_idtransaksi'] . '/';

    $PNG_WEB_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . 
                    $data['t_idjenisobjek'] . '/'.$data['t_periodepajak'].'/' .
                    $data['t_idtransaksi'] . '/';
    
    if (!file_exists($PNG_TEMP_DIR)) {
        mkdir($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/'.$data['t_periodepajak'].'/' . $data['t_idtransaksi'] . '/', 0777, true);
        chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/', 0777);
        chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/'.$data['t_periodepajak'] . '/', 0777);
        chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/'.$data['t_periodepajak'] .'/' . $data['t_idtransaksi']  . '/', 0777);
    }
    
    $errorCorrectionLevel = 'L';
    $matrixPointSize = 3;
    $barcode = $data['t_kodebayar'];
    
    $filename = $PNG_TEMP_DIR . '' . $data['t_idjenisobjek'] . '_' . $data['t_periodepajak']. '_' . $data['t_idtransaksi'] . '_' . md5($barcode . '|' . $errorCorrectionLevel . '|' . $matrixPointSize) . '.png';
    QRcode::png($barcode, $filename, $errorCorrectionLevel, $matrixPointSize, 2);
    
    $tampilbarcode = '<img src="'.$_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/'.$data['t_periodepajak'].'/' . $data['t_idtransaksi'] .'/' . basename($filename) . '" />';
?>
<html>
    <head>
        <style type="text/css">            
            .border_atas {
                border-top: 1px solid black;
                border-collapse: collapse;
            }

            .border_kiri {
                border-left: 1px solid black;
                border-collapse: collapse;
            }

            .border_kanan {
                border-right: 1px solid black;
                border-collapse: collapse;
            }

            .border_bawah {
                border-bottom: 1px solid black;
                border-collapse: collapse;
            }

            .font_lima {
                font-size: 5pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 9pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    

            .font_sepuluh {
                font-size: 10pt;
            }

            .font_duabelas {
                font-size: 12pt;
            }
            /*            .tabel{
                            display: table !important;
                            width: auto;
                            border-collapse: collapse;
                        }
                        .baris {
                            display: table-row !important;
                            width: auto;
                            clear: both;
                        }*/
            .kolom {
                display: inline-table !important;
            }
            table{font-family: Arial;}
            @page{
                margin-top: 40px;margin-bottom: 70px; margin-left: 30px; margin-right: 30px;
                /* ensure you append the header/footer name with 'html_' */
                header: html_MyCustomHeader; /* sets <htmlpageheader name="MyCustomHeader"> as the header */
                footer: html_MyCustomFooter; /* sets <htmlpagefooter name="MyCustomFooter"> as the footer */
            }
        </style>
    </head>
    <body>
        <?php
        ini_set("max_execution_time", 500);
        if (!function_exists('kekata')) {

            function kekata($x) {
                $x = abs($x);
                $angka = array("", "Satu", "Dua", "Tiga", "Empat", "Lima",
                    "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas");
                $temp = "";
                if ($x < 12) {
                    $temp = " " . $angka[$x];
                } else if ($x < 20) {
                    $temp = kekata($x - 10) . " Belas";
                } else if ($x < 100) {
                    $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
                } else if ($x < 200) {
                    $temp = " Seratus" . kekata($x - 100);
                } else if ($x < 1000) {
                    $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
                } else if ($x < 2000) {
                    $temp = " Seribu" . kekata($x - 1000);
                } else if ($x < 1000000) {
                    $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
                } else if ($x < 1000000000) {
                    $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
                } else if ($x < 1000000000000) {
                    $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
                } else if ($x < 1000000000000000) {
                    $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
                }
                return $temp;
            }

        }

        function terbilang($x, $style = 4) {
            if ($x < 0) {
                $hasil = "MINUS " . trim(kekata($x));
            } else {
                $hasil = trim(kekata($x));
            }
            switch ($style) {
                case 1:
                    $hasil = strtoupper($hasil);
                    break;
                case 2:
                    $hasil = strtolower($hasil);
                    break;
                case 3:
                    $hasil = ucwords($hasil);
                    break;
                default:
                    $hasil = ucfirst($hasil);
                    break;
            }
            return $hasil;
        }

        $abulan = ['01' => 'Januari', '02' => 'Februari', '03' => 'Maret', '04' => 'April', '05' => 'Mei', '06' => 'Juni', '07' => 'Juli', '08' => 'Agustus', '09' => 'September', '10' => 'Oktober', '11' => 'November', '12' => 'Desember'];
        $t_tglpendataan = date('d', strtotime($data['t_tglpendataan'])) . " " . $abulan[date('m', strtotime($data['t_tglpendataan']))] . " " . date('Y', strtotime($data['t_tglpendataan']));
        ?>
         <table class="border_bawah font_delapan" style="width: 100%">
            <tr>
                <td style="width: 15%;text-align: center;" >
                    <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>" style="width:60px;"  />
                </td>
                <td style="width: 85%; text-align: center;">
                    <b style="font-size: 16px;">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></b>
                    <br>
                    <b style=" font-size: 20px;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                    <br>
                    <?= $ar_pemda->s_alamatinstansi ?> <?= $ar_pemda->s_namaibukotakabkota ?><br>Telp/Fax <?= $ar_pemda->s_notelinstansi ?>
                </td>
            </tr>
        </table>
        <table class="border_atas border_bawah  font_delapan" style="width: 100%" >
            <tr>
                <td style="width: 60%; text-align: center;">
                </td>
                <!-- <td><?=$tampilbarcode?></td> -->
                <td style="width: 36%; ">
                    <table style="border:#fff 1px solid;">
                        <tr>
                            <td>No. SPTPD</td>
                            <td>:</td>
                            <td><?=$data['t_nourut'] ?></td>
                        </tr>
                        <tr>
                            <td>Masa Pajak</td>
                            <td>:</td>
                            <?php if (date('m-Y', strtotime($data['t_masaawal'])) == date('m-Y', strtotime($data['t_masaakhir']))): ?>
                                <td><?= $abulan[date('m', strtotime($data['t_masaawal']))] ?></td>
                            <?php else: ?>
                                <td><?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> S/D <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?></td>
                            <?php endif; ?>
                        </tr>
                        <tr>
                            <td>Tahun Pajak</td>
                            <td>:</td>
                            <td><?= date('Y',strtotime($data['t_masaawal']));?></td>
                        </tr>
                        <tr>
                            <td>Kode Bayar</td>
                            <td>:</td>
                            <td><b><?= $data['t_kodebayar'] ?></b></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table class="border_bawah font_delapan" style="width: 100%;">
            <tr>
                <td  style="border-spacing:0px; text-align: center" colspan="4">
                    <b>
                        SPTPD (Surat Pemberitahuan Pajak Daerah)
                        <br>
                        PAJAK AIR TANAH
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="border_bawah" style="border-spacing:0px; padding-left: 10px;">
                    <table style="border-spacing: 0">
                        <tr>
                            <td style="width:20%"><b>NPWPD</b></td>
                            <td style="width:5%">:</td>
                            <td style="width:70%"><?= $data['t_npwpd']; ?></td>
                        </tr>
                      
                    </table>
                </td>
                <td class="border_bawah" style="padding:0;border-spacing:0px; vertical-align: top">
                    Kepada Yth.
                    <br>
                    Kepala <?= $ar_pemda->s_namainstansi ?>  
                    <br>di <?= $ar_pemda->s_namaibukotakabkota ?>

                </td>
            </tr>
            <tr>
                <td colspan="4" style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px;">
                    PERHATIAN :
                </td>
            </tr>
            <tr>
                <td  style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                    1.
                </td>
                <td  colspan="3">
                    Harap diisi dalam rangkap 2 (dua) ditulis dengan huruf cetak
                </td>
            </tr>
            <tr>
                <td  style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                    2.
                </td>
                <td colspan="3">
                    Beri nomor pada kotak yang tersedia untuk jawaban yang diberikan
                </td>
            </tr>
            <tr>
                <td style="width: 5%;border-spacing:0px; padding-left: 15px; vertical-align: top">
                    3.
                </td>
                <td colspan="3">
                    Setelah diisi dan ditandatangani, harap diserahkan kembali ke <?= $ar_pemda->s_namainstansi ?> paling lambat tanggal 20
                </td>
            </tr>
            <tr>
                <td style="width: 5%; border-spacing:0px; padding-left: 15px; vertical-align: top">
                    4.
                </td>
                <td  colspan="3">
                    Keterlambatan Penyerahan tanggal tersebut diatas akan dilakukan penetapan secara jabatan.
                </td>
            </tr>
            <tr>
                <td style="width: 5%; border-spacing:0px; padding-left: 15px; vertical-align: top" class="border_bawah">
                    5.
                </td>
                <td colspan="3" class="border_bawah">
                    Wajib Pajak yang melakukan usaha dengan omzet paling sedikit Rp. 300.000.000,00 (tiga ratus juta rupiah) per tahun wajib menyelenggarakan pembukuan dan pencatatan.
                </td>
            </tr>
        </table>
        <table class="font_delapan" style="width: 100%;">
            <tr>
                <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                    Data Wajib Pajak
                </td>
            </tr>
        </table>
        <table class="font_delapan" style="width: 100%;">
            <tr>
                
                <td  style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Wajib Pajak</td>
                <td>:</td>
                <td><?= $data['t_namawp'] ?></td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Alamat Wajib Pajak</td>
                <td>:</td>
                <td><?= $data['t_alamat_lengkapwp'] ?></td>
            </tr>
        
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Objek Pajak / NIOP</td>
                <td>:</td>
                <td><?= $data['t_namaobjek'] ?> / <?= $data['t_nop'] ?></td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Alamat Objek Pajak</td>
                <td>:</td>
                <td><?= $data['t_alamatlengkapobjek'] ?></td>
            </tr> 
           
         </table>         
        
     
        <table class="border_atas font_delapan" style="width: 100%;">
            <tr>
                <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                   Omzet yang harus diisi oleh Wajib Pajak
                </td>
            </tr>
        </table>


        <table class="font_delapan" style="width: 100%;">
            <tr>
                
                <td style="padding:0; border-spacing:0px; padding-left: 15px;" width="200px">Volume Air yang diambil</td>
                <td width="10px">:</td>
                <td><?= number_format($data['t_volumeair'], 2, ",", ".") ?> m<sup>3</sup></td>
            </tr>
            <tr>
                
                <td style="padding:0; border-spacing:0px; padding-left: 15px; vertical-align:top" width="200px">Perhitungan</td>
                <td style="padding:0; border-spacing:0px; vertical-align:top" width="10px"></td>
                <td>

                    <table class="border_atas border_bawah border_kanan border_kiri">
                        <tr>
                            <td style="border: 1px solid black;">Volume Standart</td>
                            <td style="border: 1px solid black;">Volume Produksi</td>
                            <td style="border: 1px solid black;">Harga Dasar Air (Rp.)</td>
                            <td style="border: 1px solid black;">NPA (Rp.)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;border-right: 1px solid black;">0 - 50</td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= $data['t_volumeair0'] ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_hargadasar0'], 0, ",", ".") ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_jumlah0'], 0, ",", ".") ?></td>

                        </tr>
                        <tr>
                            <td style="text-align:center;border-right: 1px solid black;">51 - 500</td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= $data['t_volumeair1'] ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_hargadasar1'], 0, ",", ".") ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_jumlah1'], 0, ",", ".") ?></td>
                            
                        </tr>
                        <tr>
                            <td style="text-align:center;border-right: 1px solid black;">501 - 1000</td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= $data['t_volumeair2'] ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_hargadasar2'], 0, ",", ".") ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_jumlah2'], 0, ",", ".") ?></td>


                        </tr>
                        <tr>
                            <td style="text-align:center;border-right: 1px solid black;">1001 - 2500</td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= $data['t_volumeair3'] ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_hargadasar3'], 0, ",", ".") ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_jumlah3'], 0, ",", ".") ?></td>


                        </tr>
                        <tr>
                            <td style="text-align:center;border-right: 1px solid black;">> 2500</td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= $data['t_volumeair4'] ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_hargadasar4'], 0, ",", ".") ?></td>
                            <td style="text-align:center;border-right: 1px solid black;"><?= number_format($data['t_jumlah4'], 0, ",", ".") ?></td>


                        </tr>
                        <tr>
                            <td style="text-align:left;border: 1px solid black;">Jumlah produksi</td>
                            <td style="text-align:center;border: 1px solid black;">
                            <b><?= $data['t_volumeair0'] + 
                                $data['t_volumeair1'] +    
                                $data['t_volumeair2'] +  
                                $data['t_volumeair3'] + 
                                $data['t_volumeair4'] ?></b>
                            </td>
                            <td style="text-align:center;border: 1px solid black;">Total NPA</td>
                            <td style="text-align:center;border: 1px solid black;"><b><?=number_format($data['t_totalnpa'], 0, ",", ".")?></b></td>

                            
                        </tr>
                    </table>
                
                </td>
            </tr>
        </table>

        <table class="font_delapan" style="width: 100%;">
        <tr>
                
                <td style="padding:0; border-spacing:0px; padding-left: 15px;" width="200px">Total Pajak (Rp.)</td>
                <td width="10px">:</td>
                <td><?=$data['t_perhitungan']?></td>
        </tr>
        <tr>
                
                <td style="padding:0; border-spacing:0px; padding-left: 15px;" width="200px"> </td>
                <td width="10px">:</td>
                <td><b> Rp. <?=number_format($data['t_jmlhpajak'], 0, ",", ".")?></b></td>
        </tr>
        <!-- <tr>
            <td style="border-spacing:0px; padding-left: 15px;">
                Total NPA
            </td>
            <td style="padding:0;border-spacing:0px;">
                : <?= number_format($data['t_totalnpa'], 0, ",", ".") ?>
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;">
                Perhitungan
            </td>
            <td style="padding:0; border-spacing:0px;">
                :
                <?= number_format($data['t_totalnpa'], 0, ",", ".") .' x '. $data['s_persentarifkorek'] .'% = '. number_format($data['t_jmlhpajak'], 0, ",", ".")?>
            </td>
        </tr> -->
        </table>

        <table class=" border_atas font_delapan" style="width: 100%;">
            <tr>
                <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                    Pernyataan
                </td>
            </tr>
        </table>
        <table class="font_delapan" style="width: 100%">
            <tr>
                <td style="width: 5%; padding-left: 15px;  padding-right: 15px; text-align: justify" colspan="2">
                    Dengan menyadari sepenuhnya akan akibat termasuk sanksi-sanksi sesuai dengan ketentuan perudang-undangan yang berlaku, saya
                    atau yang saya beri kuasa menyatakan apa yang telah kami beritahukan tersebut diatas beserta lampiran-lampirannya adalah benar,
                    lengkap dan jelas.
                </td>
            </tr>
            <tr>
                <td style="width: 32%">

                </td>
                <td style="text-align: center">
                    <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpendataan ?> 
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td style="text-align: center">
                    Wajib Pajak
                    <br><br><br><br><br>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px">

                </td>
                <td style="text-align: center; padding-bottom: 10px">
                    ( <?= strtoupper($data['t_nama']) ?> )
                </td>
            </tr>
        </table>
    <htmlpagefooter name="MyCustomFooter">
        <table style="vertical-align: bottom; font-family:sans-serif;font-size: 7pt;" width="100%">
            <tbody>
                <tr>
                        <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                    <td style="font-style: italic;text-align: left;border: 1px solid #fff;" width="50%">Printed by SIMPATDA</td>
                    <td style="font-style: italic;text-align: right;border: 1px solid #fff;" width="50%">Halaman {PAGENO} dari {nbpg}</td>
                </tr>
            </tbody>
        </table>
    </htmlpagefooter>
    </body>
</html>

    <table class="border_kanan border_kiri" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; text-align: center" class="border_bawah">
                <b>B. DIISI OLEH WAJIB PAJAK</b>
            </td>
        </tr>
    </table>
    <table class="border_kanan border_kiri font_delapan" style="width: 100%;">
        <tr>
            <td style="width: 35%; padding-top:15px; border-spacing:0px; padding-left: 15px;">
                1. Klasifikasi Rekening
            </td>
            <td style="padding:0; border-spacing:0px; padding-top:15px;">
                : <?=$data['korek'] .' - '. $data['s_namakorek']?>
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;">
                2. Volume Air yang diambil
            </td>
            <td style="padding:0;border-spacing:0px;">
                : <?= number_format($data['t_volumeair'], 2, ",", ".") ?> m<sup>3</sup>
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;">
                3. Harga Dasar Air
            </td>
            <td style="padding:0;border-spacing:0px;">
                : <?= number_format($data['t_hargadasarair'], 0, ",", ".") ?>
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;">
                4. Total NPA
            </td>
            <td style="padding:0;border-spacing:0px;">
                : <?= number_format($data['t_totalnpa'], 0, ",", ".") ?>
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;">
                5. Perhitungan
            </td>
            <td style="padding:0; border-spacing:0px;">
                :
                <?= number_format($data['t_totalnpa'], 0, ",", ".") .' x '. $data['s_persentarifkorek'] .'% = '. number_format($data['t_jmlhpajak'], 0, ",", ".")?>
            </td>
        </tr>
    </table>
    <table class="border_kanan border_atas border_kiri font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: center" class="border_bawah">
                <b>C. PERNYATAAN</b>
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%">
        <tr>
            <td style="width: 5%; padding-left: 15px; padding-top: 10px; padding-right: 15px; text-align: justify"
                colspan="2">
                Dengan menyadari sepenuhnya akan akibat termasuk sanksi-sanksi sesuai dengan ketentuan perudang-undangan
                yang berlaku, saya
                atau yang saya beri kuasa menyatakan apa yang telah kami beritahukan tersebut diatas beserta
                lampiran-lampirannya adalah benar,
                lengkap dan jelas.
            </td>
        </tr>
        <tr>
            <td style="width: 32%">

            </td>
            <td style="text-align: center">
                <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpendataan ?>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td style="text-align: center">
                Wajib Pajak
                <br><br><br><br><br>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px">

            </td>
            <td style="text-align: center; padding-bottom: 10px">
                ( <?= strtoupper($data['t_nama']) ?> )
            </td>
        </tr>
    </table>
    <table class="border_kanan border_kiri font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: center" class="border_bawah">
                <b>D. DIISI OLEH PETUGAS PENERIMA <?= $ar_pemda->s_namasingkatinstansi ?></b>
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;">
        <tr>
            <td style="width: 30%; padding-left: 15px; padding-top: 10px">
                Diterima tanggal
            </td>
            <td style="width: 2%; padding-top: 10px">
                :
            </td>
            <td style="padding-top: 10px">

            </td>
        </tr>
        <tr>
            <td style="padding-left: 15px">
                Nama Petugas
            </td>
            <td>
                :
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td style="padding-left: 15px; padding-bottom: 10px">
                NIP
            </td>
            <td>
                :
            </td>
            <td style="padding-bottom: 10px">

            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-left: 300px">
                <br>
                <br>
                (...............................)
            </td>
        </tr>
    </table>
</body>

</html>