<html>
    <head>
        <style type="text/css">            
            .border_atas {
                border-top: 1px solid black;
                border-collapse: collapse;
            }

            .border_kiri {
                border-left: 1px solid black;
                border-collapse: collapse;
            }

            .border_kanan {
                border-right: 1px solid black;
                border-collapse: collapse;
            }

            .border_bawah {
                border-bottom: 1px solid black;
                border-collapse: collapse;
            }

            .font_lima {
                font-size: 5pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    

            .font_sepuluh {
                font-size: 10pt;
            }

            .font_duabelas {
                font-size: 12pt;
            }
            
            table{font-family: Arial;}
        </style>
    </head>
    <body>
        <?php
        ini_set("max_execution_time", 500);
        if (!function_exists('kekata')) {

            function kekata($x) {
                $x = abs($x);
                $angka = array("", "Satu", "Dua", "Tiga", "Empat", "Lima",
                    "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas");
                $temp = "";
                if ($x < 12) {
                    $temp = " " . $angka[$x];
                } else if ($x < 20) {
                    $temp = kekata($x - 10) . " Belas";
                } else if ($x < 100) {
                    $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
                } else if ($x < 200) {
                    $temp = " Seratus" . kekata($x - 100);
                } else if ($x < 1000) {
                    $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
                } else if ($x < 2000) {
                    $temp = " Seribu" . kekata($x - 1000);
                } else if ($x < 1000000) {
                    $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
                } else if ($x < 1000000000) {
                    $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
                } else if ($x < 1000000000000) {
                    $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
                } else if ($x < 1000000000000000) {
                    $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
                }
                return $temp;
            }

        }

        function terbilang($x, $style = 4) {
            if ($x < 0) {
                $hasil = "MINUS " . trim(kekata($x));
            } else {
                $hasil = trim(kekata($x));
            }
            switch ($style) {
                case 1:
                    $hasil = strtoupper($hasil);
                    break;
                case 2:
                    $hasil = strtolower($hasil);
                    break;
                case 3:
                    $hasil = ucwords($hasil);
                    break;
                default:
                    $hasil = ucfirst($hasil);
                    break;
            }
            return $hasil;
        }

        $abulan = ['01' => 'Januari', '02' => 'Februari', '03' => 'Maret', '04' => 'April', '05' => 'Mei', '06' => 'Juni', '07' => 'Juli', '08' => 'Agustus', '09' => 'September', '10' => 'Oktober', '11' => 'November', '12' => 'Desember'];
        $t_tglpenetapan = date('d', strtotime($data['t_tglpenetapan'])) . " " . $abulan[date('m', strtotime($data['t_tglpenetapan']))] . " " . date('Y', strtotime($data['t_tglpenetapan']));
        ?>
        <table class="border_atas border_bawah border_kanan border_kiri font_delapan" style="width: 100%">
            <tr>
                <td style="width: 7%">
                    <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>" style="width:60px;"  />
                </td>
                <td style="width: 45%">
                    <b style="font-size:14px;">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></b>
                    <br>
                    <b style="font-size:18px;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                    <br>
                    <?= $ar_pemda->s_alamatinstansi ?> <?= $ar_pemda->s_namaibukotakabkota ?> Telp/Fax <?= $ar_pemda->s_notelinstansi ?>
                </td>
                <td class="border_kiri" style="width: 40%; padding-left: 10px;text-align:center;">
                    <b style="font-size: 18px;">NPPD</b> <br>
                    <span style="font-size:14px;">(NOTA PERHITUNGAN PAJAK DAERAH)</span>
                    <br>
                    Masa Pajak : <?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> S/D <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?>
                    <br>
                    Tahun Pajak : <?= $data['t_periodepajak']; ?>
                </td>
                <td class="border_kiri" style="width: 15%;text-align: center;">
                    No. SPTPD : <?= $data['t_nourut'] ?><br>
                    No. SKPD : <?= $data['t_nopenetapan'] ?>
                </td>
            </tr>
        </table>
         <table class="border_bawah border_kanan border_kiri" style="width: 100%;font-size:9pt;">
            <tr>
                <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; padding-top: 10px;">
                    <b>I.</b>
                </td>
                <td colspan="2" style="padding:0;border-spacing:0px; padding-top: 10px;">
                    <b>Data Wajib Pajak</b>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;">
                    NPWPD
                </td>
                <td class="border_kanan" style="padding:0;border-spacing:0px;">
                    : <?= $data['t_npwpd'] ?>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="width: 20%; padding:0; border-spacing:0px;">
                    Nama
                </td>
                <td style="padding:0;border-spacing:0px;">
                    : <?= $data['t_nama'] ?>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;vertical-align:top;">
                    Alamat
                </td>
                <td style="padding:0;border-spacing:0px;">
                    : <?= $data['t_alamat'] . ", KEL. " . $data['s_namakel'] . ", KEC. " . $data['s_namakec'] . ", KAB. " . strtoupper($data['t_kabupaten']) ?>
                </td>
            </tr>
            
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px; padding-bottom: 0px">
                    <b>II.</b>
                </td>
                <td style="padding:0; border-spacing:0px; padding-bottom:0px;font-size:9pt;">
                    <b>Data Objek Pajak</b>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;">
                    NIOP
                </td>
                <td class="border_kanan" style="padding:0;border-spacing:0px;">
                    : <?= $data['t_nop'] ?>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;">
                    Nama Objek
                </td>
                <td class="border_kanan" style="padding:0;border-spacing:0px;">
                    : <?= $data['t_namaobjek'] ?>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;vertical-align:top;">
                    Alamat Objek
                </td>
                <td class="border_kanan" style="padding:0;border-spacing:0px;">
                    : <?= $data['t_alamatobjek'] . ", KEL. " . $data['s_namakelobjek'] . ", KEC. " . $data['s_namakecobjek'] ?>
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;vertical-align:top;">
                    Jenis Pajak
                </td>
                <td class="border_kanan" style="padding:0;border-spacing:0px;">
                    : <?= strtoupper($data['s_namajenis']) ?>
                </td>
            </tr>
             <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">

                </td>
                <td style="padding:0; border-spacing:0px;vertical-align:top;">
                    Kode Rekening
                </td>
                <td class="border_kanan" style="padding:0;border-spacing:0px;">
                    : <?= $data['korek']  . " " . $data['s_namakorek'] ?>
                </td>
            </tr>
        </table>
        <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr style="text-align: center">
                <td class="border_kanan border_kiri" style="padding-top: 10px;">
                    <table style="margin-left: 15px; margin-right: 15px; padding-top: 10px; border: 1px solid black; border-collapse: collapse; width: 100%; margin-bottom: 10px; vertical-align: top"cellpadding="3";>
                        <tr>
                            <td style="width: 5%; border: 1px solid black; border-collapse: collapse; text-align: center">
                                NO.
                            </td>
                            
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                URAIAN
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                JUMLAH (Rp.)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid black; border-collapse: collapse">
                                1.
                            </td>
                            
                            <td style="border: 1px solid black; border-collapse: collapse; width: 400px;font-size: 9.5px;">
                                    &nbsp; Perhitungan <?= $data['s_namajenis'] ?> ditetapkan sebagai berikut :<br><br>
                                <?php if ($jenisobjek == 4) { ?>
                                    <?php
                                    
                                    //masa reklame
                                    $koderek = (int) substr($data['korek'], 9, 2);
                                    $counter = 1;
                                    foreach ($ar_jenisreklame as $ar_jenisreklame) 
                                    {
                                    if ($ar_jenisreklame['s_pl'] ==1){
                                        echo '<pre>';
                                        echo $counter++.'.';
                                        echo '&nbsp;Jenis Reklame : '.$ar_jenisreklame['s_namajenis'];
                                        echo '<br>&nbsp;- Judul         : '.$ar_jenisreklame['t_naskah'];
                                        echo '<br>&nbsp;- Lokasi        : '.$ar_jenisreklame['t_lokasi'];
                                        echo '<br>&nbsp;- Masa          : '.$ar_jenisreklame['t_jangkawaktu'].' '.$ar_jenisreklame['s_termin'];
                                        if ($ar_jenisreklame['t_jenisrokok']==2){
                                            echo '<br>&nbsp;- Nilai Pajak   :('.number_format($ar_jenisreklame['t_nsr'], 0, ',', '.') .' x Tarif Pajak : ' .  $ar_jenisreklame['t_tarifreklame'].'%) x 2 = '.$ar_jenisreklame['t_jmlhpajaksub'];
                                            echo '<br>&nbsp; (Produk Rokok)';
                                        }else{
                                            echo '<br>&nbsp;- Nilai Pajak   : '.number_format($ar_jenisreklame['t_nsr'], 0, ',', '.') .' x Tarif Pajak : ' .  $ar_jenisreklame['t_tarifreklame'].'% = '.$ar_jenisreklame['t_jmlhpajaksub'];
                                        }
                                        echo '</pre>';
                                        
                                    }else{
                                        echo 'perhitungan 2';
                                    };
                                    ?>
                                    
                                    <!-- &nbsp; Jenis Reklame : <?= $ar_jenisreklame['s_namajenis'] ?><br>
                                    &nbsp; Judul : <?=  $ar_jenisreklame['t_naskah'] ?><br>
                                    &nbsp; Lokasi : <?=  $ar_jenisreklame['t_lokasi'] ?><br>
                                    &nbsp; Luas (m<sup>2</sup>) : <?='P : '. number_format($ar_jenisreklame['t_panjang'], 2, ',', '.') .' x L : '.number_format($ar_jenisreklame['t_lebar'], 2, ',', '.').' = '.number_format($ar_jenisreklame['t_panjang']*$ar_jenisreklame['t_lebar'], 2, ',', '.').', Jumlah Reklame : '. $ar_jenisreklame['t_jumlah'] ?><br>
                                    &nbsp; Nilai Sewa : Rp. <?= number_format($ar_jenisreklame['t_nsr'], 0, ',', '.') .' x Tarif Pajak : ' .  $ar_jenisreklame['t_tarifreklame'].'%'?><br>
                                    &nbsp; Jumlah Pajak : Rp. <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?> -->
                                    <table style="vertical-align: top;font-size: 11px;">
                                        <tr>
                                            <td colspan="3"></td>
                                        </tr>
                                    </table>
                                    <?php
                                    }
                                } elseif ($jenisobjek == 8) {
                                    ?>

                                    <table style="vertical-align: top">
                                        
                                        <tr>
                                            <td>
                                                VPA
                                            </td>
                                            <td>
                                                : <?= number_format($data['t_volumeair'], 0, ",", ".") ?> m<sup>3</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                HDA
                                            </td>
                                            <td>
                                                : <?= number_format($data['t_hargadasarair'], 0, ",", ".") ?> m<sup>3</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Perhitungan 
                                            </td>
                                            <td>
                                               
                                                <table class="border_atas border_bawah border_kanan border_kiri">
                                                    <tr>
                                                        <td style="border: 1px solid black;">Volume Standart</td>
                                                        <td style="border: 1px solid black;">Volume Produksi</td>
                                                        <td style="border: 1px solid black;">Harga Dasar Air (Rp.)</td>
                                                        <td style="border: 1px solid black;">NPA (Rp.)</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">0 - 50</td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair0'] ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar0'], 0, ",", ".") ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah0'], 0, ",", ".") ?></td>

                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">51 - 500</td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair1'] ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar1'], 0, ",", ".") ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah1'], 0, ",", ".") ?></td>

                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">501 - 1000</td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair2'] ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar2'], 0, ",", ".") ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah2'], 0, ",", ".") ?></td>


                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">1001 - 2500</td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair3'] ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar3'], 0, ",", ".") ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah3'], 0, ",", ".") ?></td>


                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: 1px solid black;border-left: 1px solid black;">> 2500</td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= $datadetail['t_volumeair4'] ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_hargadasar4'], 0, ",", ".") ?></td>
                                                        <td style="text-align:center;border-right: 1px solid black;"><?= number_format($datadetail['t_jumlah4'], 0, ",", ".") ?></td>


                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left;border: 1px solid black;">Jumlah produksi</td>
                                                        <td style="text-align:center;border: 1px solid black;">
                                                            <b><?= $datadetail['t_volumeair0'] +
                                                                    $datadetail['t_volumeair1'] +
                                                                    $datadetail['t_volumeair2'] +
                                                                    $datadetail['t_volumeair3'] +
                                                                    $datadetail['t_volumeair4'] ?></b>
                                                        </td>
                                                        <td style="text-align:center;border: 1px solid black;">Total NPA</td>
                                                        <td style="text-align:center;border: 1px solid black;"><b><?= number_format($datadetail['t_totalnpa'], 0, ",", ".") ?></b></td>


                                                    </tr>
                                                </table>
                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                
                                            </td>
                                            <td>
                                                :   <?= number_format($data['t_volumeair'], 2, ",", ".") .' x '. 
                                        number_format($data['t_hargadasarair'], 0, ",", ".") .' x '. $data['s_persentarifkorek'].'%'?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                
                                            </td>
                                            <td>
                                                : Rp. <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?>
                                            </td>
                                        </tr>
                                    </table>
                                            <?php } ?>
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: right;width: 15%">
                                <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; border: 1px solid black; border-collapse: collapse" colspan="2">
                                Jumlah Pajak
                            </th>
                            <th style="border: 1px solid black; border-collapse: collapse; text-align: right">
                            <?= number_format($data['t_jmlhpajak'], 0, ',', '.'); ?>
                            </th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; border-collapse: collapse" colspan="3">
                                Dengan Huruf : <i><?= terbilang($data['t_jmlhpajak']); ?> Rupiah</i>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;font-size:9pt;">
            
        </table>
        <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%">
            <tr>
                <td style="width: 50%; padding-top: 5px; text-align: center; font-size:10pt; padding-left: 15px">
                    <br>
<?= ucwords(strtolower($ar_ttd1->s_jabatanpej)) ?>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <u><b><?= $ar_ttd1->s_namapej ?></b></u><br>
                    NIP. <?= $ar_ttd1->s_nippej ?>
                </td>
                <td style="text-align: center; padding-top: 5px;font-size:10pt;">
                    <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpenetapan ?><br>
<?= ucwords(strtolower($ar_ttd0->s_jabatanpej)) ?>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <u><b><?= $ar_ttd0->s_namapej ?></b></u><br>
                    NIP. <?= $ar_ttd0->s_nippej ?>
                </td>
            </tr>
        </table>
        
    </body>
</html>