<html>

<head>
    <style type="text/css">
        body {
            font-family: sans-serif;
        }

        .border_atas {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        .border_kiri {
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .border_kanan {
            border-right: 1px solid black;
            border-collapse: collapse;
        }

        .border_bawah {
            border-bottom: 1px solid black;
            border-collapse: collapse;
        }

        .font_lima {
            font-size: 5pt;
        }

        .font_tujuh {
            font-size: 7pt;
        }

        .font_delapan {
            font-size: 8pt;
        }

        .font_sembilan {
            font-size: 9pt;
        }

        .font_sepuluh {
            font-size: 10pt;
        }

        .font_duabelas {
            font-size: 12pt;
        }

        @page {
            margin: 40px;
        }
    </style>
</head>

<body>
    <?php
    ini_set("max_execution_time", 500);
    $MenuHelper = $this->MenuHelper();
    $t_tglpendataan = date('d', strtotime($data['t_tglpendataan'])) . " " . $MenuHelper->namabulandate(date('m', strtotime($data['t_tglpendataan']))) . " " . date('Y', strtotime($data['t_tglpendataan']));
    ?>
    <table class="border_bawah font_delapan" style="width: 100%">
        <tr>
            <td style="width: 15%;text-align: center;">
                <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>" style="width:60px;" />
            </td>
            <td style="width: 85%; text-align: center;">
                <b style="font-size: 16px;">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></b>
                <br>
                <b style=" font-size: 20px;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                <br>
                <?= $ar_pemda->s_alamatinstansi ?> <?= $ar_pemda->s_namaibukotakabkota ?><br>Telp/Fax <?= $ar_pemda->s_notelinstansi ?>
            </td>
        </tr>
    </table>
    <table class="border_atas border_bawah  font_delapan" style="width: 100%">
        <tr>
            <td style="width: 60%; text-align: center;">
            </td>
            <!-- <td><?= $tampilbarcode ?></td> -->
            <td style="width: 36%; ">
                <table style="border:#fff 1px solid;">
                    <tr>
                        <td>No. SPTPD</td>
                        <td>:</td>
                        <td><?= $data['t_nourut'] ?></td>
                    </tr>
                    <tr>
                        <td>Masa Pajak</td>
                        <td>:</td>

                        <td><?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> S/D <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?></td>

                    </tr>
                    <tr>
                        <td>Tahun Pajak</td>
                        <td>:</td>
                        <td><?= date('Y', strtotime($data['t_masaawal'])); ?></td>
                    </tr>
                    <tr>
                        <td>Kode Bayar</td>
                        <td>:</td>
                        <td><b><?= $data['t_kodebayar'] ?></b></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="border_bawah font_delapan" style="width: 100%;">
        <tr>
            <td style="border-spacing:0px; text-align: center" colspan="4">
                <b>
                    SPTPD (Surat Pemberitahuan Pajak Daerah)
                    <br>
                    PAJAK REKLAME
                </b>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="border_bawah" style="border-spacing:0px; padding-left: 10px;">
                <table style="border-spacing: 0">
                    <tr>
                        <td style="width:20%"><b>NPWPD</b></td>
                        <td style="width:5%">:</td>
                        <td style="width:70%"><?= $data['t_npwpd']; ?></td>
                    </tr>

                </table>
            </td>
            <td class="border_bawah" style="padding:0;border-spacing:0px; vertical-align: top">
                Kepada Yth.
                <br>
                Kepala <?= $ar_pemda->s_namainstansi ?>
                <br>di <?= $ar_pemda->s_namaibukotakabkota ?>

            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px;">
                PERHATIAN :
            </td>
        </tr>
        <tr>
            <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                1.
            </td>
            <td colspan="3">
                Harap diisi dalam rangkap 2 (dua) ditulis dengan huruf cetak
            </td>
        </tr>
        <tr>
            <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                2.
            </td>
            <td colspan="3">
                Beri nomor pada kotak yang tersedia untuk jawaban yang diberikan
            </td>
        </tr>
        <tr>
            <td style="width: 5%;border-spacing:0px; padding-left: 15px; vertical-align: top">
                3.
            </td>
            <td colspan="3">
                Setelah diisi dan ditandatangani, harap diserahkan kembali ke <?= $ar_pemda->s_namainstansi ?> paling lambat tanggal 20
            </td>
        </tr>
        <tr>
            <td style="width: 5%; border-spacing:0px; padding-left: 15px; vertical-align: top">
                4.
            </td>
            <td colspan="3">
                Keterlambatan Penyerahan tanggal tersebut diatas akan dilakukan penetapan secara jabatan.
            </td>
        </tr>
        <tr>
            <td style="width: 5%; border-spacing:0px; padding-left: 15px; vertical-align: top" class="border_bawah">
                5.
            </td>
            <td colspan="3" class="border_bawah">
                Wajib Pajak yang melakukan usaha dengan omzet paling sedikit Rp. 300.000.000,00 (tiga ratus juta rupiah) per tahun wajib menyelenggarakan pembukuan dan pencatatan.
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                Diisi oleh Wajib Pajak
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr>

            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Wajib Pajak</td>
            <td>:</td>
            <td><?= $data['t_namawp'] ?></td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Alamat Wajib Pajak</td>
            <td>:</td>
            <td><?= $data['t_alamat_lengkapwp'] ?></td>
        </tr>

        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Nama Objek Pajak / NIOP</td>
            <td>:</td>
            <td><?= $data['t_namaobjek'] ?> / <?= $data['t_nop'] ?></td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; ">Alamat Objek Pajak</td>
            <td>:</td>
            <td><?= $data['t_alamatlengkapobjek'] ?></td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 5%">
                1.
            </td>
            <td style="padding:0; border-spacing:0px;">
                Data Objek Pajak
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr style="text-align: center">
            <td>
                <table style="margin-left: 15px; margin-right: 15px; border: 1px solid black; border-collapse: collapse; width: 100%; margin-bottom: 10px">
                    <tr>
                        <td style="width: 5%; border: 1px solid black; border-collapse: collapse; text-align: center">
                            No.
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Jenis Reklame dan Judul (Lihat Keterangan)
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Lokasi Pemasangan
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Ukuran
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Jumlah
                        </td>
                        <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                            Batas/Jangka waktu Pemasangan
                        </td>
                    </tr>
                    <?php
                    $counter = 1;
                    foreach ($datadetail as $row) {
                    ?>
                        <tr>
                            <td style="text-align: center; border: 1px solid black; border-collapse: collapse; vertical-align: top">
                                <?= $counter++ ?>
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top">
                                Jenis : <?= str_replace("0", "", $row['s_rinciankorek']) ?><br>
                                Judul : <?= $row['t_naskah'] ?>
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top">
                                <?= $row['t_lokasi'] ?><br>
                                <?= $row['s_kawasan'] ?>

                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top;">
                                P : <?= $row['t_panjang'] ?> m<br>
                                L : <?= $row['t_lebar'] ?> m<br>
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top; text-align: center;">
                                <?= $row['t_jumlah'] ?>
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top; text-align: center;">
                                <?= $row['t_jangkawaktu'] . ' ' . $row['t_tipewaktu'] ?>
                            </td>
                        </tr>
                    <?php } ?>
                </table>
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%;">
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;" colspan="5">
                <u>Keterangan</u>
            </td>
        </tr>
        <tr>
            <td style="border-spacing:0px; padding-left: 15px;" colspan="4">
                Jenis Reklame
            </td>
            <td style="padding:0;border-spacing:0px;">
                Ukuran :
            </td>
        </tr>
        <tr>
            <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px;">
                1
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame papan/bilboard/megatron
            </td>
            <td style="width: 3%; padding:0;border-spacing:0px;">
                6
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame Udara
            </td>
            <td style="padding:0;border-spacing:0px;">
                P = Panjang
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                2
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame kain
            </td>
            <td style="padding:0;border-spacing:0px;">
                7
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame apung
            </td>
            <td style="padding:0;border-spacing:0px;">
                L = Lebar
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                3
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame melekat (stiker)
            </td>
            <td style="padding:0;border-spacing:0px;">
                8
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame suara
            </td>
            <td style="padding:0;border-spacing:0px;">
                T = Tinggi
            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                4
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame selebaran
            </td>
            <td style="padding:0;border-spacing:0px;">
                9
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame film/ slide
            </td>
            <td style="padding:0;border-spacing:0px;">

            </td>
        </tr>
        <tr>
            <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                5
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame berjalan
            </td>
            <td style="padding:0;border-spacing:0px;">
                10
            </td>
            <td style="padding:0;border-spacing:0px;">
                Reklame peragaan
            </td>
            <td style="padding:0;border-spacing:0px;">

            </td>
        </tr>

    </table>
    <table class=" border_atas font_delapan" style="width: 100%;">
        <tr>
            <td style="padding:0; border-spacing:0px; text-align: left" class="border_bawah">
                Pernyataan
            </td>
        </tr>
    </table>
    <table class="font_delapan" style="width: 100%">
        <tr>
            <td style="width: 5%; padding-left: 15px;  padding-right: 15px; text-align: justify" colspan="2">
                Dengan menyadari sepenuhnya akan akibat termasuk sanksi-sanksi sesuai dengan ketentuan perudang-undangan yang berlaku, saya
                atau yang saya beri kuasa menyatakan apa yang telah kami beritahukan tersebut diatas beserta lampiran-lampirannya adalah benar,
                lengkap dan jelas.
            </td>
        </tr>
        <tr>
            <td style="width: 32%">

            </td>
            <td style="text-align: center">
                <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpendataan ?>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td style="text-align: center">
                Wajib Pajak
                <br><br><br><br><br>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 10px">

            </td>
            <td style="text-align: center; padding-bottom: 10px">
                ( <?= strtoupper($data['t_nama']) ?> )
            </td>
        </tr>
    </table>
</body>
<htmlpagefooter name="MyCustomFooter">
    <table style="vertical-align: bottom; font-family:sans-serif;font-size: 7pt;" width="100%">
        <tbody>
            <tr>
                <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                <td style="font-style: italic;text-align: left;border: 1px solid #fff;" width="50%">Printed by SIMPATDA</td>
                <td style="font-style: italic;text-align: right;border: 1px solid #fff;" width="50%">Halaman {PAGENO} dari {nbpg}</td>
            </tr>
        </tbody>
    </table>
</htmlpagefooter>
</body>

</html>