<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageminerba');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink,
    .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-moz-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-o-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @keyframes blink {
        67% {
            opacity: 0
        }
    }

    .form-control.rekening:focus {
        width: 500px;
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil"></i>
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12 center-div">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:center; background:black; border-radius: 25px; color: orange; padding: 5px 15px 5px 15px; font-size: 16px; font-weight:bolder">NPWPD : <?= $datapendaftaran['t_npwpd'] ?> / NIOP : <?= $datapendaftaran['t_nop'] ?></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="example-box-wrapper">
                            <?= $this->form()->openTag($form) ?>
                            <div class="col-md-12" style="margin-top:15px">
                                <div class="col-md-6">
                                    <div class='content-box border-top border-green' style='font-size:11px'>
                                        <h3 class='content-box-header clearfix' style='font-size:12px; color:blue; font-weight: bold;'>
                                            Data WP
                                        </h3>
                                        <div class='content-box-wrapper'>
                                            <div class='row'>
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2">Nama</label>
                                                    <div class="col-sm-10">
                                                        : <?= $datapendaftaran['t_nama'] ?>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2">Alamat</label>
                                                    <div class="col-sm-10">
                                                        : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class='content-box border-top border-green' style='font-size:11px'>
                                        <h3 class='content-box-header clearfix' style='font-size:12px; color:blue; font-weight: bold;'>
                                            Data OP
                                        </h3>
                                        <div class='content-box-wrapper'>
                                            <div class='row'>
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2">Nama</label>
                                                    <div class="col-sm-10">
                                                        : <?= $datapendaftaran['t_namaobjek'] ?>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2">Alamat</label>
                                                    <div class="col-sm-10">
                                                        : : <?= $datapendaftaran['t_alamatobjek'] ?>
                                                        ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                                        ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                                        ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                                        ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?><br><br>
                                                        <!-- ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad10B">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning">
                                        <div class="alert-content">
                                            <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <!-- <label class="col-sm-3 control-label">Nomor Urut</label> -->
                                    <div class="col-sm-2">
                                        <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                        <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                        <?= $this->formHidden($form->get("t_idobjek")) ?>
                                        <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                        <?= $this->formHidden($form->get("t_nourut")) ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Periode Pajak</label>
                                    <div class="col-sm-2">
                                        <?= $this->formText($form->get("t_periodepajak")) ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Tanggal Pendataan</label>
                                    <div class="col-sm-2">
                                        <?= $this->formText($form->get("t_tglpendataan")) ?>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Masa Pajak</label>
                                    <div class="col-sm-4">
                                        <div class="input-group input-daterange">
                                            <?= $this->formText($form->get("t_masaawal")) ?>
                                            <span class="input-group-addon" style="background-color: #EEEEEE"><b>s/d</b></span>
                                            <?= $this->formText($form->get("t_masaakhir")) ?>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Kode Rekening</label>
                                    <div class="col-sm-2">

                                        <?= $this->formHidden($form->get("t_idkorek")) ?>
                                        <?= $this->formText($form->get("t_korek")) ?>
                                    </div>
                                    <div class="col-sm-1"><button type="button" class="btn btn-sm btn-primary" onclick="bukamodalRekening()"><span class="glyph-icon icon-search"></span></button></div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Nama Rekening</label>
                                    <div class="col-sm-6">
                                        <?= $this->formText($form->get("t_namakorek")) ?>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Nama Kegiatan</label>
                                    <div class="col-sm-6">
                                        <?= $this->formTextarea($form->get("t_namakegiatan")) ?>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-danger">
                                            <div class="box-header with-border">
                                                <span class="btn btn-sm btn-danger" id="tambahDetail">Tambah</span>
                                            </div>
                                            <div class="box-body">
                                                <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                                    <tr>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Jenis</th>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah (m<sup>3</sup>)</th>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Harga Satuan</th>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah x Harga</th>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif</th>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Pajak</th>
                                                        <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>
                                                    </tr>
                                                    <input type="hidden" id="idl" value="1">
                                                    <tbody id="add_Detail"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="kenaikan" style="display: none">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Tarif Kenaikan (%)</label>
                                        <div class="col-sm-1">
                                            <input type="text" name="t_tarifkenaikan" id="t_tarifkenaikan" class="form-control" readonly="" value="0">
                                        </div>
                                        <div class="col-sm-1">
                                            <a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="nonskpdjabatan()"><span class="glyph-icon icon-close"></span> Non SKPD Jabatan</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Jumlah Kenaikan</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="t_jmlhkenaikan" id="t_jmlhkenaikan" class="form-control" readonly="" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label">Total Pajak (Rp.)</label>
                                    <div class="col-sm-4">
                                        <?= $this->formText($form->get("t_jmlhpajak")) ?>
                                        <?= $this->formHidden($form->get("t_dasarpengenaan")) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-default" id="tombolsimpan">
                                <?= $this->formInput($form->get('Pendataansubmit')) ?>
                            </div>
                            <?= $this->form()->closeTag($form) ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function caritarifminerba(a) {
            $.post('<?= $this->url() ?>/caritarifminerba', {
                    t_jenisminerba: $('#t_jenisminerba' + a).val()
                })
                .then(function(data) {
                    var aa = JSON.parse(data);
                    $('#t_hargapasaran' + a).val(aa.t_tarif);
                    $('#t_tarifpersen' + a).val(aa.t_tarifpajak);
                    hitungpajakminerba(a);
                });

        }

        function caritarifreklame(a) {
            $.post('<?= $this->url() ?>/caritarifreklame', {
                t_jenisreklame: $('#t_jenisreklame' + a).val()
            }, function(data) {
                var aa = JSON.parse(data);
                $('#t_nsr' + a).val(aa.t_tarif);
                $('#t_tarifpajak' + a).val(aa.t_tarifpajak);
                $('#t_tipewaktu' + a).val(aa.t_termin);
                $('#t_lebar' + a).val(aa.t_lebar);
                $('#t_panjang' + a).val(aa.t_panjang);
                $('#t_luas' + a).val(aa.t_luas);
                $('#t_kawasan' + a).val(aa.t_kawasan);
                $('#t_pl' + a).val(aa.t_pl);

                $('#labelTermin' + a).html(aa.t_termin);

            });
            // hitungpajakreklame(a);
        }

        function hitungpajakminerba(a) {
            $.post('<?= $this->url() ?>/hitungpajakminerba', {
                t_volume: $('#t_volume' + a).val(),
                t_hargapasaran: $('#t_hargapasaran' + a).val(),
                t_tarifpersen: $('#t_tarifpersen' + a).val()
            }).then(function(data) {
                var aa = JSON.parse(data);
                $('#t_jumlah' + a).val(aa.t_jumlah);
                $('#t_pajak' + a).val(aa.t_pajak);
                hitungtotalpajakminerba();
            });
        }

        function hitungtotalpajakminerba(a) {

            let aa = document.querySelectorAll('.t_pajak');
            let bb = document.querySelectorAll('.t_jumlah');
            let total = 0;
            let totalb = 0;
            aa.forEach(c => {
                let strToNumber = c.value.replaceAll(".", "").replace(",", ".");
                total += parseFloat(strToNumber);
                console.log(total);
            });
            bb.forEach(b => {
                let strToNumber = b.value.replaceAll(".", "").replace(",", ".");
                totalb += parseFloat(strToNumber);
                console.log(totalb);
            });
            $.post('<?= $this->url() ?>/hitungtotalpajakminerba', {
                total,
                totalb
            }, function(data) {
                var aa = JSON.parse(data);
                $('#t_jmlhpajak').val(aa.t_jmlhpajak);
                $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);
            });
        }

        $(function() {
                    // document.getElementById("t_masaawal").focus();

                    $("#tambahDetail").click(function() {
                            if ($("#t_korek").val() == '') {
                                alert('Silahkan Pilih Kode Rekening Terlebih dahulu!');
                            } else {
                                var idl = document.getElementById("idl").value; //append
                                comboJenisMinerba(idl);
                                $("#add_Detail").append(
                                    '<tr id="detailnode' + idl + '">' +
                                    '<td>' +
                                    '<input type="hidden" id="t_idminerba' + idl + '" name="t_idminerba[]">' +
                                    '<select onchange="caritarifminerba(' + idl + ')" name="t_jenisminerba[]" id="t_jenisminerba' + idl + '" class="form-control" required="true">' +
                                    '<option value="">Silahkan Pilih</option>' +
                                    '</select>' +
                                    '</td>' +
                                    '<td>' +
                                    '<input class="form-control" style="text-align:right" onKeyPress="this, event;" onchange="this.value = this.value; hitungpajakminerba(' + idl + ')" onblur ="this.value = this.value; hitungpajakminerba(' + idl + ');" onkeyup="this.value = this.value; hitungpajakminerba(' + idl + ');" name="t_volume[]" id="t_volume' + idl + '">' +
                                    '</td>' +
                                    '<td>' +
                                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_hargapasaran[]" id="t_hargapasaran' + idl + '" readonly="true">' +
                                    '</td>' +
                                    '<td>' +
                                    '<input class="form-control t_jumlah" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_jumlah[]" id="t_jumlah' + idl + '" readonly="true">' +
                                    '</td>' +
                                    '<td>' +
                                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_tarifpersen[]" id="t_tarifpersen' + idl + '" readonly="true">' +
                                    '</td>' +
                                    '<td>' +
                                    '<input class="form-control t_pajak" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_pajak[]" id="t_pajak' + idl + '" readonly="true">' +
                                    '</td>' +
                                    '<td>' +
                                    '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                                    '</td>' +
                                    '</tr>'
                                );
                                idl = (idl - 1) + 2;
                                document.getElementById("idl").value = idl;
                            }
                            });
                    });

                function removetr(a) {
                    $("#detailnode" + a).remove().then(function() {
                        hitungpajakminerba();
                    });
                }

                // $('#t_tglpendataan').change(function () {
                //     $.post('<?= $this->url() ?>/formattgl', {tgl: $('#t_tglpendataan').val()}, function (data) {
                //         var aa = JSON.parse(data);
                //         $("#t_tglpendataan").val(aa.tgl);
                //     });
                // });

                // $('#t_masaawal').change(function () {
                //     $.post('<?= $this->url() ?>/hitungtgl', {t_masaawal: $('#t_masaawal').val()}, function (data) {
                //         var aa = JSON.parse(data);
                //         $("#t_masaakhir").val(aa.t_masaakhir);
                //         $("#t_masaawal").val(aa.t_masaawal);
                //     });
                // });

                // $('#t_masaakhir').change(function () {
                //     $.post('<?= $this->url() ?>/formattgl', {tgl: $('#t_masaakhir').val()}, function (data) {
                //         var aa = JSON.parse(data);
                //         $("#t_masaakhir").val(aa.tgl);
                //     });
                // });

                $('#t_tglpendataan').datepicker({
                    format: 'dd-mm-yyyy'
                }); $('#t_masaawal').datepicker({
                    format: 'dd-mm-yyyy'
                }); $('#t_masaakhir').datepicker({
                    format: 'dd-mm-yyyy'
                });

                $('#t_idkorek').change(function() {
                    $.post('<?= $this->url() ?>/pilihRekening', {
                        s_idkorek: $('#t_idkorek').val()
                    }, function(data) {
                        var aa = JSON.parse(data);
                        $('#t_tarifpajak').val(aa.t_tarifpajak);
                        $('#t_tarifdasarkorek').val(aa.t_tarifdasarkorek);
                    });
                });


                function pilihskpdjabatan(a) {
                    $.post('<?= $this->url() ?>/pilihskpdjabatan', {
                        parameter: a
                    }, function(data) {
                        var aa = JSON.parse(data);
                        $("#t_tglpendataan").val(aa.t_tglpendataan);
                        $("#t_masaawal").val(aa.t_masaawal);
                        $("#t_masaakhir").val(aa.t_masaakhir);
                        $("#t_tarifkenaikan").val(aa.t_tarifkenaikan);
                    });
                    document.getElementById("kenaikan").style.display = "block";
                    setTimeout(function() {
                        hitungpajakminerba();
                    }, 1000);
                }

                function nonskpdjabatan() {
                    document.getElementById("kenaikan").style.display = "none";
                    $("#t_tarifkenaikan").val(0);
                    hitungpajakminerba();
                }
    </script>



    <div class="modal fade" id="modalCetakSuratTeguran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>CETAK SURAT TEGURAN</b></h4>
                </div>
                <div class='modal-body'>
                    <div class='example-box-wrapper'>
                        <div class='example-box-wrapper'>
                            <div class="col-md-12 form-horizontal">
                                <label class="col-md-3 control-label">
                                    Jenis Pajak
                                </label>
                                <div class="col-md-4">
                                    <input type="hidden" id="idjenispajak">
                                    <input type="hidden" id="idobjekwp">
                                    <input type="text" class="form-control" id="jenispajak" readonly="">
                                </div>
                            </div>
                            <div class="col-md-12 form-horizontal">
                                <label class="col-md-3 control-label">
                                    Nama WP
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="namawp" readonly="">
                                </div>
                            </div>
                            <div class="col-md-12 form-horizontal">
                                <label class="col-md-3 control-label">
                                    Masa Pajak
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon">
                                            <i class="glyph-icon icon-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" id="masaawal" readonly="">
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label">S/D</label>
                                <div class="col-sm-4">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon">
                                            <i class="glyph-icon icon-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" id="masaakhir" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-horizontal">
                                <label class="col-md-3 control-label">
                                    Alamat WP
                                </label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="alamatwp" readonly="">

                                </textarea>
                                </div>
                            </div>
                            <div class="col-md-12 form-horizontal">
                                <label class="col-md-3 control-label">
                                    Nomor Surat
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="nomorsrt" value="0001">
                                </div>
                            </div>
                            <div class="col-md-12 form-horizontal">
                                <label class="col-md-3 control-label">
                                    Penandatangan
                                </label>
                                <div class="col-md-9">
                                    <select id="ttd0" class="form-control">
                                        <?php foreach ($ar_ttd0 as $row) { ?>
                                            <option value="<?= $row['s_idpej'] ?>"><?= $row['s_namapej'] . " || " . $row['s_jabatanpej'] ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <div class='col-sm-12'>
                        <a href="#" class="btn btn-sm btn-danger" title="" onclick="cetaksuratteguran()"><i class="glyph-icon icon-file-pdf-o"></i> PDF</a>
                        <button class='btn btn-primary btn-sm' onclick='tutupCetakSuratTeguran()'><i class='glyph-icon icon-close'></i> Tutup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRekening" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>Data Rekening</b></h4>
                </div>
                <div class='modal-body'>
                    <input type="hidden" id="t_jenisobjek" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                    <div>
                        <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                            <thead class="cf">
                                <tr class="bg-blue">
                                    <th style="background-color: #00BCA4; color: white; text-align: center">
                                        Kode Rekening
                                    </th>
                                    <th style="background-color: #00BCA4; color: white; text-align: center">
                                        Nama Rekening
                                    </th>
                                    <th style="background-color: #00BCA4; color: white; text-align: center">
                                        Tarif
                                    </th>
                                    <th style="background-color: #00BCA4; color: white; text-align: center">
                                        Pilihan
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="korek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                    </td>
                                    <td>
                                        <input type="text" id="s_namakorek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                    </td>
                                    <td>
                                        <input type="text" id="s_persentarifkorek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                    </td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="listrekening">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <div class="row">
                                            <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                            <div class="col-sm-3">
                                                <a href="#" onclick="calldataGridRekening(1);
                                                    return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                                <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                                <a href="#" onclick="calldataGridRekening(2);
                                                    return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                            </div>
                                            <div class="col-sm-5 text-right">
                                                <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function bukaCetakSuratTeguran(a, b) {
            $.post('<?= $this->url() ?>/dataSuratTeguran', {
                parameter: a,
                idobjekwp: b
            }, function(data) {
                var aa = JSON.parse(data);
                $("#idobjekwp").val(aa.idobjekwp);
                $("#namawp").val(aa.namawp);
                $("#alamatwp").val(aa.alamatwp);
                $("#jenispajak").val(aa.jenispajak);
                $("#idjenispajak").val(aa.idjenispajak);
                $("#masaawal").val(aa.t_masaawal);
                $("#masaakhir").val(aa.t_masaakhir);
            });
            $('#modalCetakSuratTeguran').modal('show');
        }

        function tutupCetakSuratTeguran() {
            $('#modalCetakSuratTeguran').modal('hide');
        }

        function cetaksuratteguran() {
            window.open('<?= $this->url() ?>/cetaksuratteguran?idobjekwp=' + $("#idobjekwp").val() + "&ttd0=" + $("#ttd0").val() + "&masaawal=" + $("#masaawal").val() + "&masaakhir=" + $("#masaakhir").val() + "&nomorsrt=" + $("#nomorsrt").val());
        }

        function bukamodalRekening() {
            calldataGridRekening();
            $('#modalRekening').modal('show');
        }

        function calldataGridRekening(direction) {
            dataGridRekening($("#page").val(), $("#rows").val(), direction);
        }

        function dataGridRekening(page, row, direction) {
            $.post('<?= $this->url() ?>/dataGridRekening/' + null + '/' + page + '/' + row + '/' + direction +
                '?korek=' + $("#korek").val() +
                "&s_namakorek=" + $("#s_namakorek").val() +
                "&s_persentarifkorek=" + $("#s_persentarifkorek").val() +
                "&t_jenisobjek=" + $("#t_jenisobjek").val() +
                "&s_idkorek=" + $("#t_idkorek").val(),
                function(data) {
                    var aa = JSON.parse(data);
                    $("#listrekening").html(aa.grid);
                    $("#rows").val(aa.rows);
                    $("#page").val(aa.page);
                    $("#total_data").html(": " + aa.count);
                    $("#total_halaman").html(": " + aa.total_halaman);
                });
        }

        function pilihRekening(a) {
            $.post('<?= $this->url() ?>/pilihRekening', {
                s_idkorek: a
            }, function(data) {
                var aa = JSON.parse(data);
                $('#t_idkorek').val(aa.t_idkorek);
                $('#t_korek').val(aa.t_korek);
                $('#t_tarifpajak').val(aa.t_tarifpajak);
                $('#t_namakorek').val(aa.t_namakorek);
                $('#modalRekening').modal('hide');
            });

        }

        function comboJenisMinerba(a) {
            $.post('<?= $this->url() ?>/comboJenisMinerba', {
                t_idkorek: $("#t_idkorek").val()
            }, function(data) {
                var aa = JSON.parse(data);
                $('#t_jenisminerba' + a).html(aa.res);
            });
        }
    </script>