<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pagereklame');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink,
    .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-moz-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-o-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @keyframes blink {
        67% {
            opacity: 0
        }
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil"></i>
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12 center-div">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:center; background:black; border-radius: 25px; color: orange; padding: 5px 15px 5px 15px; font-size: 16px; font-weight:bolder">NPWPD : <?= $datapendaftaran['t_npwpd'] ?> / NIOP : <?= $datapendaftaran['t_nop'] ?></span>
                        </div>
                    </div>
                    <?= $this->form()->openTag($form) ?>
                    <div class="col-md-6">

                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data WP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIK</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nik'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nama'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data OP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIOP</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nop'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_namaobjek'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamatobjek'] ?>
                                            ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                            ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                            ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                            ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?>
                                            ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Histori Pajak</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="datatransaksi"></div>
                        </div>
                    </div>
                    <div class="row pad10B">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <label class="col-sm-2 control-label">Nomor Urut</label> -->
                            <div class="col-sm-2">
                                <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_iddetailreklame")) ?>
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                <?= $this->formHidden($form->get("t_nourut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Periode Pajak</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_periodepajak")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Pendataan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpendataan")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Masa Pajak</label>
                            <div class="col-sm-5">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_masaawal")) ?>
                                    <span class="input-group-addon" style="background-color: #EEEEEE"><b>s/d</b></span>
                                    <?= $this->formText($form->get("t_masaakhir")) ?>
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jenis Reklame</label>
                            <div class="col-sm-4">
                                <?= $this->formHidden($form->get("t_idkorek")) ?>
                                <?= $this->formSelect($form->get("s_jenisreklame")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Kawasan</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("s_kawasan")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Sudut Pandang</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("s_sudutpandang")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Lebar Jalan(Meter)</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("s_kelasjalan")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Ketinggian(Meter)</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("s_ketinggian")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jenis Rokok</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("t_jenisrokok")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Detail Lokasi</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_lokasi")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Naskah Reklame</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_naskah")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Ukuran</label>
                            <div class="col-sm-4">

                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Panjang (m)</label>
                            <div class="col-sm-1">
                                <?= $this->formText($form->get("t_panjang")) ?>
                            </div>
                            <label class="col-sm-1 control-label">Lebar (m)</label>
                            <div class="col-sm-1">
                                <?= $this->formText($form->get("t_lebar")) ?>

                            </div>
                            <label class="col-sm-1 control-label">Luas (m<sup>2</sup>)</label>
                            <div class="col-sm-1">
                                <?= $this->formText($form->get("t_luas")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jangka Waktu</label>
                            <div class="col-sm-2">
                                <?= $this->formText($form->get("t_jangkawaktu")) ?>
                            </div>
                            <div class="col-sm-2">
                                <?= $this->formText($form->get("t_tipewaktu")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jumlah</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_jumlah")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">NSR</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_nsr")) ?>
                            </div>
                            <div class="col-sm-1">
                                <?= $this->formText($form->get("t_tarifpajak")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jumlah Pajak</label>
                            <div class="col-sm-3">
                                <?= $this->formText($form->get("t_jmlhpajak")) ?>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-md btn-purple" onclick="hitungpajakreklame()">
                                    <i class="glyph-icon icon-calculator"></i> HITUNG
                                </button>
                            </div>
                        </div>

                        <!-- <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Kode Rekening</label>
                            <div class="col-sm-2">

                                <?= $this->formText($form->get("t_korek")) ?>
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-sm btn-primary" onclick="bukamodalRekening()"><span class="glyph-icon icon-search"></span></button></div>
                            <div class="col-sm-1"><button type="button" class="btn btn-sm btn-danger" onclick="clearform()"><span class="glyph-icon icon-remove">Clear Form</span></button></div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Rekening</label>
                            <div class="col-sm-6">
                                <?= $this->formText($form->get("t_namakorek")) ?>
                            </div>
                        </div> -->

                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Pendataansubmit')) ?>
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-overlay" tabindex="-1" aria-hidden="true" data-keyboard="false" style="text-align: center;width: 100%;">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="modal fade" id="modalKawasan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Klasifikasi Nilai Strategis Jalan</b></h4>
            </div>
            <div class='modal-body'>
                <div>
                    <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                        <thead class="cf">
                            <tr class="bg-blue">
                                <th rowspan="2" style="background-color: #00BCA4; color: white; text-align: center">
                                    No
                                </th>
                                <th rowspan="2" style="background-color: #00BCA4; color: white; text-align: center">
                                    Kecamatan
                                </th>
                                <th colspan="5" style="background-color: #00BCA4; color: white; text-align: center">
                                    Klasifikasi
                                </th>

                            </tr>
                            <tr>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Utama
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    A
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    B
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    C
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    D
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>MAGETAN</td>
                                <td>-Jl. A. Yani;<br>
                                    -Jl. P.Sudirman;<br>
                                    -Jl. Pahlawan;<br>
                                    -Jl. Dr. Sutomo;<br>
                                    -Jl. Diponegoro;<br>
                                    -Jl. Monginsidi;<br>
                                    -Jl. Mayjen Sungkono;<br>
                                    -Jl. Mayjen Sujowati;<br>
                                    -Jl. Gubernur Suryo;
                                </td>
                                <td>
                                    -Jl. Yos Sudarso;<br>
                                    -Jl. MT. Haryono;<br>
                                    -Jl. Samodra;<br>
                                    -Jl. S. Parman;

                                </td>
                                <td>
                                    -Jl. Kalpataru;<br>
                                    -Jl. Bangka;<br>
                                    -Jl. Kunthi;<br>
                                    -Jl. Hasanudin;<br>
                                    -Jl. Jaksa Agung Suprapto;<br>
                                    -Jl. Imam Bonjol;<br>
                                    -Jl. Sawo;<br>
                                    -Jl. Manggis;<br>
                                    -Jl. Wilis;

                                </td>
                                <td></td>
                                <td>- Jalan lainnya</td>
                            </tr>

                            <tr>
                                <td>2.</td>
                                <td>SIDOREJO</td>
                                <td>
                                    -Jl. Raya Sarangan;<br>
                                    -Jl. Lingkar (Ring Road);<br>
                                    -Jl. Gatot Subroto;

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    Jalan lainnya
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>PONCOL</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            <tr>
                                <td>4.</td>
                                <td>PARANG</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Jalan Parang - Lembeyan;</td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>NGUNTORONADI</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>LEMBEYAN</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Lembeyan - Gorang gareng;<br>
                                    -Jl. Lembeyan - Ponorogo;<br>
                                    -Jl. Lembeyan - Parang;
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>KAWEDANAN</td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Takeran Madiun;<br>
                                    -Jl. Takeran Kawedanan;
                                </td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>TAKERAN</td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jalan Takeran - Madiun;<br>
                                    -Jalan Takeran - Kawedanan;
                                </td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>BENDO</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Bendo Kawedanan;<br>
                                    -Jl. Bendo Maospati;
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>MAOSPATI</td>
                                <td>-Jalan Maospati - Madiun;<br>
                                    -Jl. Maospati Karangrejo;<br>
                                    -Jl. Maospati Magetan;
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Maospati - Barat;
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>BARAT</td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Barat - Kartoharjo;<br>
                                    -Jl. Barat - Tebon;
                                </td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>KARTOHARJO</td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Kartoharjo - Madiun;
                                </td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>KARANGREJO</td>
                                <td>
                                    -Jl. Karangrejo - Ngawi;
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Karangrejo - Karas;<br>
                                    -Jl. Karangrejo - Barat;
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>KARAS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    - Jl. Karas - Panekan;<br>
                                    - Jl. Karas - Karangrejo;<br>
                                    - Jl. Karas - Sukomoro;<br>
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>15.</td>
                                <td>SUKOMORO</td>
                                <td>
                                    -Jl. Sukomoro - Magetan;<br>
                                    -Jl. Sukomoro - Maospati;<br>
                                    -Jl. Lingkar
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>16.</td>
                                <td>PANEKAN</td>
                                <td>
                                    -Jl. Lingkar;
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Panekan - Magetan;<br>
                                    -Jl. Panekan - Ngawi;<br>
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>17.</td>
                                <td>NGRONGGOT</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    -Jl. Ngariboyo - Kawedanan;<br>
                                    -Jl. Ngariboyo - Parang;<br>
                                    -Jl. Ngariboyo - Magetan;
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                            <tr>
                                <td>18.</td>
                                <td>PLAOSAN</td>
                                <td>
                                    -Jl. Raya Sarangan;<br>
                                    -Jl. Raya Sarangan - Cemoro Sewu;<br>
                                    -Jl. Kawasan Wisata Sarangan;

                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    - Jl. Plaosan Poncol;
                                </td>
                                <td>Jalan lainnya</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('.decimalInput').forEach(function(input) {
        input.addEventListener('input', function(e) {
            let value = e.target.value;
            // Regular expression to match a decimal number
            let decimalPattern = /^-?\d*\.?\d*$/;

            if (!decimalPattern.test(value)) {
                // Remove the last character if it doesn't match the pattern
                e.target.value = value.slice(0, -1);
            }
        });
    });

    hitungLuas();

    function hitungLuas() {
        const decimal1 = parseFloat(document.getElementById('t_panjang').value);
        const decimal2 = parseFloat(document.getElementById('t_lebar').value);

        if (isNaN(decimal1) || isNaN(decimal2)) {
            document.getElementById('t_luas').innerText = 'Please enter valid decimal numbers';
            return;
        }

        const result = decimal1 * decimal2;
        $('#t_luas').val(result);
        // document.getElementById('t_luas').innerText = `Result: ${result}`;
    }

    $('#Pendataansubmit').click(function() {
        var myForm = document.getElementById('demo-form');
        myForm.onsubmit = function() {
            var allInputs = myForm.getElementsByTagName('input');
            var input, i;

            for (i = 0; input = allInputs[i]; i++) {
                if (input.getAttribute('name') && !input.value) {
                    //input.setAttribute('name', '');

                } else {
                    jQuery('#modal-overlay').modal('show');
                }
            }
        };
    });

    function hitungpajakreklame() {
        $.post('<?= $this->url() ?>/hitungpajakreklamenew', {
            s_jenisreklame: $("#s_jenisreklame").val(),
            s_kawasan: $("#s_kawasan").val(),
            s_sudutpandang: $("#s_sudutpandang").val(),
            s_kelasjalan: $("#s_kelasjalan").val(),
            s_ketinggian: $("#s_ketinggian").val(),
            t_jenisrokok: $("#t_jenisrokok").val(),
            t_panjang: $("#t_panjang").val(),
            t_lebar: $("#t_lebar").val(),
            t_luas: $("#t_luas").val(),
            t_jangkawaktu: $("#t_jangkawaktu").val(),
            t_jumlah: $("#t_jumlah").val(),
            t_masaawal: $("#t_masaawal").val(),
            t_masaakhir: $("#t_masaakhir").val(),
        }, function(data) {
            var aa = JSON.parse(data);
            // console.log(aa)
            $('#t_nsr').val(aa.t_nsr);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jangkawaktu').val(aa.t_jangkawaktu);
            $('#t_tarifpajak').val(aa.t_tarifpajak + '%');
        });

    }

    function calldataGridRekening(direction) {
        dataGridRekening($("#page").val(), $("#rows").val(), direction);
    }

    function dataGridRekening(page, row, direction) {
        $.post('<?= $this->url() ?>/dataGridRekening/' + null + '/' + page + '/' + row + '/' + direction +
            '?korek=' + $("#korek").val() +
            "&s_namakorek=" + $("#s_namakorek").val() +
            "&s_persentarifkorek=" + $("#s_persentarifkorek").val() +
            "&t_jenisobjek=" + $("#t_jenisobjek").val() +
            "&s_idkorek=" + $("#t_idkorek").val(),
            function(data) {
                var aa = JSON.parse(data);
                $("#listrekening").html(aa.grid);
                $("#rows").val(aa.rows);
                $("#page").val(aa.page);
                $("#total_data").html(": " + aa.count);
                $("#total_halaman").html(": " + aa.total_halaman);
            });
    }

    function bukamodalRekening() {
        calldataGridRekening();
        $('#modalRekening').modal('show');
    }

    function pilihRekening(a) {
        $.post('<?= $this->url() ?>/pilihRekening', {
            s_idkorek: a
        }, function(data) {
            var aa = JSON.parse(data);
            $('#t_idkorek').val(aa.t_idkorek);
            $('#t_korek').val(aa.t_korek);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
            $('#t_namakorek').val(aa.t_namakorek);
            $('#modalRekening').modal('hide');
        });
    }




    function hitungTotalJumlahPajakReklame() {
        let total = 0;
        let maxidl = $('#idl').val();
        for (let index = 1; index < maxidl; index++) {
            var strnum = $('#t_jmlhpajaksub' + index).val();
            var Re = new RegExp("\\.", "g");
            totalpernode = strnum.replace(Re, "");

            total += Number(totalpernode);
        }
        $('#t_jmlhpajak').val(format(String(total)));
    }

    function format(str) {
        var length = 3,
            separator = ".",
            count = 0,
            result = str.split('').reduceRight((a, c) => {
                if (count === length) {
                    a.push(separator);
                    count = 1;
                } else
                    count++;
                a.push(c);
                return a;
            }, []).reverse().join('');
        return result;
    }

    $(function() {
        CariPendataanReklameByObjek();
    });

    function CariPendataanReklameByObjek() {
        $.post('<?= $this->url() ?>/CariPendataanReklameByObjek', {
            idobjek: $("#t_idobjek").val(),
            periodepajak: $("#t_periodepajak").val()
        }, function(data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

    function clearform() {
        location.reload();
        //    $("#t_idkorek").val('');
        //    $("#t_korek").val('');
        //    $("#t_namakorek").val('');

    }

    function getTipeWaktu() {
        $.post('<?= $this->url() ?>/gettipewaktu', {
            jenis: $("#s_jenisreklame").val()
        }, function(data) {
            var aa = JSON.parse(data);
            console.log(aa);
            $("#t_tipewaktu").val(aa.tipe);
        });
    }
</script>