<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageminerba');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink,
    .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-moz-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-o-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @keyframes blink {
        67% {
            opacity: 0
        }
    }

    .form-control.rekening:focus {
        width: 500px;
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil"></i>
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <?= $this->form()->openTag($form) ?>
                    <div class="col-md-12" style="margin-top:15px">
                        <div class="col-md-6">
                            <div class='content-box border-top border-green' style='font-size:11px'>
                                <h3 class='content-box-header clearfix' style='font-size:12px; color:blue; font-weight: bold;'>
                                    Data WP
                                </h3>
                                <div class='content-box-wrapper'>
                                    <div class='row'>
                                        <div class="col-sm-12">
                                            <label class="col-sm-2">Nama</label>
                                            <div class="col-sm-10">
                                                : <?= $datapendaftaran['t_nama'] ?>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="col-sm-2">Alamat</label>
                                            <div class="col-sm-10">
                                                : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='content-box border-top border-green' style='font-size:11px'>
                                <h3 class='content-box-header clearfix' style='font-size:12px; color:blue; font-weight: bold;'>
                                    Data OP
                                </h3>
                                <div class='content-box-wrapper'>
                                    <div class='row'>
                                        <div class="col-sm-12">
                                            <label class="col-sm-2">Nama</label>
                                            <div class="col-sm-10">
                                                : <?= $datapendaftaran['t_namaobjek'] ?>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="col-sm-2">Alamat</label>
                                            <div class="col-sm-10">
                                                : : <?= $datapendaftaran['t_alamatobjek'] ?>
                                                ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                                ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                                ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                                ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?><br><br>
                                                <!-- ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <label class="col-sm-2 control-label">Nomor Urut</label> -->
                            <div class="col-sm-2">
                                <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                <?= $this->formHidden($form->get("t_nourut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Periode Pajak</label>
                            <div class="col-sm-2">
                                <?= $this->formText($form->get("t_periodepajak")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Pendataan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpendataan")) ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Masa Pajak</label>
                            <div class="col-sm-4">
                                <div class="input-group input-daterange">
                                    <?= $this->formText($form->get("t_masaawal")) ?>
                                    <span class="input-group-addon" style="background-color: #EEEEEE"><b>s/d</b></span>
                                    <?= $this->formText($form->get("t_masaakhir")) ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Kode Rekening</label>
                            <div class="col-sm-4">
                                <?= $this->formHidden($form->get("t_idkorek")) ?>
                                <?= $this->formText($form->get("t_korek")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Rekening</label>
                            <div class="col-sm-4">

                                <?= $this->formText($form->get("t_namakorek")) ?>

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Kegiatan</label>
                            <div class="col-sm-4">
                                <?= $this->formTextarea($form->get("t_namakegiatan")) ?>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <!-- <span class="btn btn-sm btn-danger" id="tambahDetail">Tambah</span> -->
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jenis</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Harga Satuan</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah x Harga</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Pajak</th>
                                                <!-- <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th> -->
                                            </tr>
                                            <?php
                                            $kk = 1;
                                            foreach (@$datadetail as $row) {
                                            ?>
                                                <tr id="detailnode<?= $kk ?>">
                                                    <td>
                                                        <input type="hidden" id="t_idminerba<?= $kk ?>" name="t_idminerba[]" value="<?= $row['t_idminerba'] ?>">
                                                        <select name="t_jenisminerba[]" id="t_jenisminerba<?= $kk ?>" class="form-control" onchange="caritarifminerba(<?= $kk ?>)">
                                                            <option value="">Silahkan Pilih</option>
                                                            <?php
                                                            foreach ($rekeningmineral as $row1) {
                                                                if ($row1['s_idtarif'] == $row['s_idtarif']) {
                                                                    $selected = 'selected';
                                                                } else {
                                                                    $selected = '';
                                                                }
                                                            ?>
                                                                <option <?= $selected ?> value="<?= $row1['s_idtarif'] ?>"><?= $row1['s_namajenis'] ?></option>
                                                            <?php
                                                            }
                                                            $hargasatuan = $row['t_hargapasaran'];
                                                            ?>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" value="<?= $row['t_volume'] ?>" onKeyPress="return(this, event);" onchange="this.value = (this.value); hitungpajakminerba(<?= $kk ?>)" onblur="this.value = (this.value); hitungpajakminerba(<?= $kk ?>);" onkeyup="this.value = (this.value); hitungpajakminerba(<?= $kk ?>);" name="t_volume[]" id="t_volume<?= $kk ?>" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($hargasatuan, 0, ',', '.') ?>" name="t_hargapasaran[]" id="t_hargapasaran<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control t_jumlah" value="<?= number_format($row['t_jumlah'], 0, ',', '.') ?>" name="t_jumlah[]" id="t_jumlah<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= $row['t_tarifpersen'] ?>" name="t_tarifpersen[]" id="t_tarifpersen<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control t_pajak" value="<?= number_format($row['t_pajak'], 0, ',', '.') ?>" name="t_pajak[]" id="t_pajak<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <!-- <td><span class="btn btn-xs btn-danger" onclick="removetr(<?= $kk ?>)"><span class="glyph-icon icon-trash"></span></span></td> -->
                                                </tr>
                                            <?php
                                                $kk++;
                                            }
                                            ?>
                                            <input type="hidden" id="idl" value="<?= $kk++ ?>">
                                            <tbody id="add_Detail"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Total Pajak (Rp.)</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_jmlhpajak")) ?>
                                <?= $this->formHidden($form->get("t_dasarpengenaan")) ?>
                            </div>
                            <!--                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary btn-sm" onclick="hitungtotalpajakminerba()">Hitung</button>
                    </div>-->
                        </div>
                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Pendataansubmit')) ?>
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function caritarifminerba(a) {
                $.post('<?= $this->url() ?>/caritarifminerba', {
                        t_jenisminerba: $('#t_jenisminerba' + a).val()
                    })
                    .then(function(data) {
                        var aa = JSON.parse(data);
                        $('#t_hargapasaran' + a).val(aa.t_tarif);
                        $('#t_tarifpersen' + a).val(aa.t_tarifpajak);
                        hitungpajakminerba(a);
                    });

            }

            function hitungpajakminerba(a) {
                $.post('<?= $this->url() ?>/hitungpajakminerba', {
                    t_volume: $('#t_volume' + a).val(),
                    t_hargapasaran: $('#t_hargapasaran' + a).val(),
                    t_tarifpersen: $('#t_tarifpersen' + a).val()
                }).then(function(data) {
                    var aa = JSON.parse(data);
                    $('#t_jumlah' + a).val(aa.t_jumlah);
                    $('#t_pajak' + a).val(aa.t_pajak);
                    hitungtotalpajakminerba();
                });
            }

            function hitungtotalpajakminerba() {
                let aa = document.querySelectorAll('.t_pajak');
                let bb = document.querySelectorAll('.t_jumlah');
                let total = 0;
                let totalb = 0;
                aa.forEach(c => {
                    let strToNumber = c.value.replaceAll(".", "").replace(",", ".")
                    total += parseFloat(strToNumber)
                    console.log(total)
                });
                bb.forEach(b => {
                    let strToNumber = b.value.replaceAll(".", "").replace(",", ".")
                    totalb += parseFloat(strToNumber)
                    console.log(totalb)
                });
                $.post('<?= $this->url() ?>/hitungtotalpajakminerba', {
                    total,
                    totalb
                }, function(data) {
                    var aa = JSON.parse(data);
                    $('#t_jmlhpajak').val(aa.t_jmlhpajak);
                    $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);
                });
            }

            function removetr(a) {
                $("#detailnode" + a).remove().then(function() {
                    hitungpajakminerba();
                });
            }

            $(function() {
                document.getElementById("t_masaawal").focus();
                $("#tambahDetail").click(function() {
                    var idl = document.getElementById("idl").value;
                    $("#add_Detail").append(
                        '<tr id="detailnode' + idl + '">' +
                        '<td>' +
                        '<input type="hidden" id="t_idminerba' + idl + '" name="t_idminerba[]">' +
                        '<select name="t_idkorek[]" id="t_idkorek' + idl + '" class="form-control" onchange="caritarifminerba(' + idl + ')">' +
                        '<option value="">Silahkan Pilih</option>' +
                        <?php foreach ($rekeningmineral as $row) { ?> '<option value="<?= $row['s_idkorek'] ?>"><?= $row['korek'] . ' | ' . $row['s_namakorek'] ?></option>' +
                        <?php } ?> '</select>' +
                        '</td>' +
                        '<td>' +
                        '<input class="form-control" style="text-align:right" onKeyPress="return this, event;" onchange="this.value = this.value; hitungpajakminerba(' + idl + ')" onblur ="this.value = this.value; hitungpajakminerba(' + idl + ');" onkeyup="this.value = this.value; hitungpajakminerba(' + idl + ');" name="t_volume[]" id="t_volume' + idl + '">' +
                        '</td>' +
                        '<td>' +
                        '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_hargapasaran[]" id="t_hargapasaran' + idl + '" readonly="true">' +
                        '</td>' +
                        '<td>' +
                        '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_jumlah[]" id="t_jumlah' + idl + '" readonly="true">' +
                        '</td>' +
                        '<td>' +
                        '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_tarifpersen[]" id="t_tarifpersen' + idl + '" readonly="true">' +
                        '</td>' +
                        '<td>' +
                        '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_pajak[]" id="t_pajak' + idl + '" readonly="true">' +
                        '</td>' +
                        '<td>' +
                        '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                        '</td>' +
                        '</tr>'
                    );
                    idl = (idl - 1) + 2;
                    document.getElementById("idl").value = idl;
                });

            });

            // $('#t_tglpendataan').change(function () {
            //     $.post('<?= $this->url() ?>/formattgl', {tgl: $('#t_tglpendataan').val()}, function (data) {
            //         var aa = JSON.parse(data);
            //         $("#t_tglpendataan").val(aa.tgl);
            //     });
            // });

            // $('#t_masaawal').change(function () {
            //     $.post('<?= $this->url() ?>/hitungtgl', {t_masaawal: $('#t_masaawal').val()}, function (data) {
            //         var aa = JSON.parse(data);
            //         $("#t_masaakhir").val(aa.t_masaakhir);
            //         $("#t_masaawal").val(aa.t_masaawal);
            //     });
            // });

            // $('#t_masaakhir').change(function () {
            //     $.post('<?= $this->url() ?>/formattgl', {tgl: $('#t_masaakhir').val()}, function (data) {
            //         var aa = JSON.parse(data);
            //         $("#t_masaakhir").val(aa.tgl);
            //     });
            // });

            $('#t_tglpendataan').datepicker({
                format: 'dd-mm-yyyy'
            });
            $('#t_masaawal').datepicker({
                format: 'dd-mm-yyyy'
            });
            $('#t_masaakhir').datepicker({
                format: 'dd-mm-yyyy'
            });

            $('#t_idkorek').change(function() {
                $.post('<?= $this->url() ?>/pilihRekening', {
                    s_idkorek: $('#t_idkorek').val()
                }, function(data) {
                    var aa = JSON.parse(data);
                    $('#t_tarifpajak').val(aa.t_tarifpajak);
                    $('#t_tarifdasarkorek').val(aa.t_tarifdasarkorek);
                });
            });
        </script>