<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageppj');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink,
    .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-moz-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @-o-keyframes blink {
        67% {
            opacity: 0
        }
    }

    @keyframes blink {
        67% {
            opacity: 0
        }
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12 center-div">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:center; background:black; border-radius: 25px; color: orange; padding: 5px 15px 5px 15px; font-size: 16px; font-weight:bolder">NPWPD : <?= $datapendaftaran['t_npwpd'] ?> / NIOP : <?= $datapendaftaran['t_nop'] ?></span>
                        </div>
                    </div>
                    <?= $this->form()->openTag($form) ?>
                    <div class="col-md-6">

                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data WP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIK</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nik'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nama'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data OP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIOP</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nop'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_namaobjek'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamatobjek'] ?>
                                            ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                            ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                            ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                            ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?>
                                            <!-- ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Histori Pajak</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="datatransaksi"></div>
                        </div>
                    </div>
                    <div class="row pad10B">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 hidden">
                            <label class="col-sm-2 control-label">Nomor Urut</label>
                            <div class="col-sm-2">
                                <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>

                                <?= $this->formText($form->get("t_nourut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Periode Pajak</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_periodepajak")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Pendataan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpendataan")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Masa Pajak</label>
                            <div class="col-sm-5">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_masaawal")) ?>
                                    <!--                                </div>
                            </div>
                            <label class="col-sm-1 control-label">S/D</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">-->
                                    <span class="input-group-addon" style="background-color: #EEEEEE"><b>s/d</b></span>
                                    <?= $this->formText($form->get("t_masaakhir")) ?>
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Kode Rekening</label>
                            <div class="col-sm-2">
                                <?= $this->formHidden($form->get("t_idkorek")) ?>
                                <?= $this->formText($form->get("t_korek")) ?>
                            </div>
                            <!-- <div class="col-sm-1"><button type="button" class="btn btn-sm btn-primary" onclick="bukamodalRekening()"><span class="glyph-icon icon-search"></span></button></div> -->
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Rekening</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_namakorek")) ?>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Kegiatan</label>
                            <div class="col-sm-4">
                                <?= $this->formTextarea($form->get("t_namakegiatan")) ?>
                                <span id="error_t_namakegiatan" style="color : red; display:none;"></span>
                            </div>
                        </div>

                        <!-- 
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Keterangan</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_keterangan")) ?>
                            </div>
                        </div> -->

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Ketegori</label>
                            <div class="col-sm-2">
                                <?= $this->formSelect($form->get("t_ketegori")) ?>
                                <span id="error_t_kategori" style="color : red; display:none; "></span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5">
                       
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border" align="right">
                                        <span class="btn btn-sm btn-danger" id="tambahDetail">Tambah</span>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Golongan/Batas daya</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Keterangan</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Pemakaian (Kwh)</th>
                                                <!-- <th style='background-color: #00BCA4; color: white; text-align:center'>Batas daya</th> -->
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif dasar (Rp/Kwh)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Dasar Pengenaan</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif Pajak (%)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Pajak</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>
                                            </tr>
                                            <?php
                                            $kk = 1;
                                            foreach (@$datadetail as $row) {
                                            ?>
                                                <tr id="detailnode<?= $kk ?>">

                                                    <td style="width: 180px;">
                                                        <input type="hidden" id="t_idppj<?= $kk ?>" name="t_idppj[]" value="<?= $row['t_idppj'] ?>">
                                                        <input type="hidden" class="form-control" value="<?= $row['t_batas_daya'] ?>" name="t_batas_daya[]" id="t_batas_daya<?= $kk ?>" readonly="true">
                                                        <input type="hidden" class="form-control" value="<?= $row['t_golongan'] ?>" name="t_golongan[]" id="t_golongan<?= $kk ?>" readonly="true">
                                                        <input class="form-control" value="<?= $row['t_golongan'] ?> || <?= $row['t_batas_daya'] ?>" readonly="true">

                                                    </td>
                                                    <td>
                                                        <input class="form-control" value="<?= $row['t_keterangan'] ?>" name="t_keterangan[]" id="t_keterangan<?= $kk ?>" readonly="true" style="text-align:left">
                                                    </td>

                                                    <td width="120">
                                                        <input class="form-control" value="<?= number_format($row['t_pemakaian'], 0, ",", "."); ?>" readonly="true" style="text-align:left">
                                                        <input type="hidden" class="form-control" value="<?= $row['t_pemakaian'] ?>" name="t_pemakaian[]" id="t_pemakaian<?= $kk ?>" readonly="true" style="text-align:left">
                                                    </td>
                                                    <td style="width: 100px;">
                                                        <input class="form-control" value="<?= $row['t_tarif_dasar'] ?>" name="t_tarif_dasar[]" id="t_tarif_dasar<?= $kk ?>" readonly="true" style="text-align:right">
                                                    </td>

                                                    <td width="150">
                                                        <input class="form-control" value="<?= number_format($row['t_dasarpengenaan'], 0, ",", "."); ?>" readonly="true" style="text-align:right">
                                                        <input type="hidden" class="form-control" value="<?= $row['t_dasarpengenaan'] ?>" name="t_dasarpengenaan[]" id="t_dasarpengenaan<?= $kk ?>" readonly="true" style="text-align:right">
                                                    </td>
                                                    <td width="50">
                                                        <input class="form-control" value="<?= $row['t_tarif_pajak'] ?>" name="t_tarif_pajak[]" id="t_tarif_pajak<?= $kk ?>" readonly="true" style="text-align:right">
                                                    </td>
                                                    <td width="130">
                                                        <input class="form-control" value="<?= number_format($row['t_pajak'], 0, ",", "."); ?>" readonly="true" style="text-align:right">
                                                        <input type="hidden" class="form-control" value="<?= $row['t_pajak'] ?>" name="t_pajak[]" id="t_pajak<?= $kk ?>" readonly="true" style="text-align:right">
                                                    </td>
                                                    <td><span class="btn btn-xs btn-danger" onclick="removetr(<?= $kk ?>)"><span class="glyph-icon icon-trash"></span></span></td>
                                                </tr>
                                            <?php
                                                $kk++;
                                            }
                                            ?>
                                            <input type="hidden" id="idl" value="<?= $kk++ ?>">
                                            <tbody id="add_Detail"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="kenaikan" style="display: none">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Tarif Kenaikan (%)</label>
                                <div class="col-sm-1">
                                    <input type="text" name="t_tarifkenaikan" id="t_tarifkenaikan" class="form-control" readonly="" value="0">
                                </div>
                                <div class="col-sm-1">
                                    <a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="nonskpdjabatan()"><span class="glyph-icon icon-close"></span> Non SKPD Jabatan</a>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Jumlah Kenaikan</label>
                                <div class="col-sm-4">
                                    <input type="text" name="t_jmlhkenaikan" id="t_jmlhkenaikan" class="form-control" readonly="" value="0">
                                </div>
                            </div>   
                        </div> -->
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Total Pajak (Rp.)</label>

                            <div class="col-sm-4">

                                <!-- <input type="text" value="" id="t_jmlhpajaktdkdibulatkan" class="form-control" style="text-align:right;  padding: 7px 10px; height:40px; font-size: 16px; font-weight:bolder"> -->

                                <?= $this->formHidden($form->get("t_jmlhpajak")) ?>
                                <span id="error_t_jmlhpajak" style="color : red; display:none;"></span>
                                <input type="text" value="" id="t_jmlhpajakfake" class="form-control" style="text-align:right; background:#000099; color: white; padding: 7px 10px; height:40px; font-size: 16px; font-weight:bolder">
                            </div>

                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary btn-sm" onclick="hitungtotalpajakppj()">Hitung</button>
                            </div>

                        </div>
                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Pendataansubmit')) ?>
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalRekening" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Data Rekening</b></h4>
            </div>
            <div class='modal-body'>
                <input type="hidden" id="t_jenisobjek" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                <div>
                    <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                        <thead class="cf">
                            <tr class="bg-blue">
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Kode Rekening
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Nama Rekening
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Tarif
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Pilihan
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="korek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                </td>
                                <td>
                                    <input type="text" id="s_namakorek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                </td>
                                <td>
                                    <input type="text" id="s_persentarifkorek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="listrekening">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                        <div class="col-sm-3">
                                            <a href="#" onclick="calldataGridRekening(1);
                                                    return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                            <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                            <a href="#" onclick="calldataGridRekening(2);
                                                    return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateAndRun(submit) {

        let error = false;
        if ($('#t_namakegiatan').val() == '') {
            error = true;
            $('#error_t_namakegiatan').css({
                display: 'inline-block'
            });
            $('#error_t_namakegiatan').text('nama kegiatan harus di isi');
        }
        if ($('#t_ketegori').val() == '') {
            error = true;
            $('#error_t_kategori').css({
                display: 'inline-block'
            });
            $('#error_t_kategori').text('kategori harus di isi');
        }
        if ($('#t_jmlhpajak').val() == '') {
            error = true;
            $('#error_t_jmlhpajak').css({
                display: 'inline-block'
            });
            $('#error_t_jmlhpajak').text('jumlah pajak harus di isi');
        }
        if (error == true) {
            // alert('nothing')
        } else {
            submit.submit();
        }

    }


    function removetr(a) {
        $("#detailnode" + a).remove();
    }



    function hitungtotalpajakppj() {
        $.post('<?= $this->url() ?>/hitungtotalpajakppj', {
            t_pajak1: $('#t_pajak1').val(),
            t_pajak2: $('#t_pajak2').val(),
            t_pajak3: $('#t_pajak3').val(),
            t_pajak4: $('#t_pajak4').val(),
            t_pajak5: $('#t_pajak5').val(),
            t_pajak6: $('#t_pajak6').val(),
            t_pajak7: $('#t_pajak7').val(),
            t_pajak8: $('#t_pajak8').val(),
            t_pajak9: $('#t_pajak9').val(),
            t_pajak10: $('#t_pajak10').val()
        }, function(data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajakfake').val('Rp. ' + aa.t_jmlhpajakdibulatkan);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
        });
    }


    function hitungpajakppj(a) {
        var str = $('#t_pemakaian' + a).val();
        var Re = new RegExp("\\.", "g");
        t_pemakaian = str.replace(Re, "");
        $.post('<?= $this->url() ?>/hitungpajakppj', {
            t_pemakaian: t_pemakaian,
            t_tarif_pajak: $('#t_tarif_pajak' + a).val(),
            t_tarif_dasar: $('#t_tarif_dasar' + a).val()
        }, function(data) {
            var aa = JSON.parse(data);
            $('#t_dasarpengenaan' + a).val(aa.dasar_pengenaan);
            $('#t_pajak' + a).val(aa.pajak_terhutang);
            $('#t_dasarpengenaanfake' + a).val(aa.dasar_pengenaandibulatkan);
            $('#t_pajakfake' + a).val(aa.pajak_terhutangdibulatkan);
            hitungtotalpajakppj();
        });
    }

    function caridatagolongan(id) {
        $.post('<?= $this->url() ?>/caridatagolongan', {
            t_idkorek: $('#t_idppj' + id).val()
        }, function(data) {
            var aa = JSON.parse(data);
            $('#t_batas_daya' + id).val(aa.t_batas_daya);
            $('#t_tarif_dasar' + id).val(aa.t_tarif_dasar);
            $('#t_tarif_pajak' + id).val(aa.t_tarif_pajak);
            $('#t_golongan' + id).val(aa.t_golongan);
        });
    }











    $(document).ready(function() {

        // cari semua data golongan berdasarkan klasifikasi
        var golongan;

        function getgolonganberdasarkanklasifikasi() {
            var selected = $('#t_ketegori').val();

            if (selected == '') {
                alert('pilih kategori');
                golongan = 0;
            } else {
                $.post('<?= $this->url() ?>/getgolonganberdasarkanklasifikasi', {
                    t_klasifikasi: selected
                }, function(data) {
                    var aa = JSON.parse(data);
                    // alert('ini golongan' + aa.golongan);
                    golongan = aa.golongan;
                });

            }
        }



        $("#tambahDetail").click(function() {
            var idl = document.getElementById("idl").value;

            getgolonganberdasarkanklasifikasi();

            if (golongan != 0) {
                var optionvalue;
                for (i = 0; i < golongan.length; i++) {
                    optionvalue += '<option value=' + golongan[i].t_idppj + '>' + golongan[i].t_klasifikasi + ' || ' + golongan[i].t_golongan + ' || ' + golongan[i].t_batas_daya + '</option>';
                }

            }

            $("#add_Detail").append(
                '<tr id="detailnode' + idl + '">' +
                '<td>' +
                '<select name="t_idppj[]" id="t_idppj' + idl + '" class="form-control rekening" onchange="caridatagolongan(' + idl + ')">' +
                '<option value="">Silahkan Pilih</option>' +
                optionvalue +
                '</select>' +
                '</td>' +

                '<td>' +
                '<input class="form-control" style="text-align:left"  name="t_keterangan[]" id="t_keterangan' + idl + '">' +
                '</td>' +

                '<td>' +
                '<input class="form-control" style="text-align:left" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakppj(' + idl + ')" onblur="this.value = formatCurrency(this.value); hitungpajakppj(' + idl + ')" name="t_pemakaian[]" id="t_pemakaian' + idl + '">' +
                '</td>' +

                '<td>' +
                '<input type="hidden" class="form-control" style="text-align:right" name="t_batas_daya[]" id="t_batas_daya' + idl + '" readonly="true">' +
                '<input type="hidden" class="form-control" style="text-align:right" name="t_golongan[]" id="t_golongan' + idl + '" readonly="true">' +
                '<input class="form-control" style="text-align:right"  name="t_tarif_dasar[]" id="t_tarif_dasar' + idl + '" readonly="true">' +
                '</td>' +

                '<td>' +
                '<input type="hidden" class="form-control" style="text-align:right" name="t_dasarpengenaan[]" id="t_dasarpengenaan' + idl + '" readonly="true">' +
                '<input type="text" class="form-control" style="text-align:right" id="t_dasarpengenaanfake' + idl + '" readonly="true">' +
                '</td>' +

                '<td>' +
                '<input class="form-control" style="text-align:right"  name="t_tarif_pajak[]" id="t_tarif_pajak' + idl + '" readonly="true">' +
                '</td>' +

                '<td>' +
                '<input type="hidden" class="form-control" style="text-align:right"  name="t_pajak[]" id="t_pajak' + idl + '" readonly="true">' +
                '<input class="form-control" style="text-align:right"   id="t_pajakfake' + idl + '" readonly="true">' +
                '</td>' +

                '<td>' +
                '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                '</td>' +
                '</tr>'


            );
            idl = (idl - 1) + 2;
            document.getElementById("idl").value = idl;
        });
    });
</script>