<div id="page-content-wrapper">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title" style="font-family:monospace;font-size:12pt;font-weight: bold;">
                    PENUTUPAN WP DAN OBJEK
                </h4>
            </div>
            <div class="panel-body">
                <ul class="nav-responsive nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">DAFTAR WP AKTIF</a></li>
                    <li><a href="#tab2" data-toggle="tab">DAFTAR WP TIDAK AKTIF</a></li>
					<li><a href="#tab3" data-toggle="tab">DAFTAR OBJEK TIDAK AKTIF</a></li>
                </ul>
                <div class="tab-content">
                    <?= $this->partial('grid_aktif.phtml'); ?>
                    <?= $this->partial('grid_wptidakaktif.phtml'); ?>
                    <?= $this->partial('grid_optidakaktif.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
</div>