<link href="<?= $this->basePath(); ?>/public/css/animate-custom.css" rel="stylesheet">

<style>
    .login-box_headercoy {
        background: transparent url('<?= $this->basePath(); ?>/public/img/transpBlack50.png') repeat;
    }

    .login-box_tengah {
        background: transparent url('<?= $this->basePath(); ?>/public/img/transpBlack50.png') repeat;
    }
</style>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url());
$form->setAttribute("id", "frm-horizontal");
$form->setAttribute("class", "form-signin");
$form->prepare();
?>
<img src="<?= $this->basePath() . "/public/upload/bg.png"; ?>" class="login-img wow fadeIn" alt="">
<div id="box" class="center-vertical">
    <div class="center-content row">
        <div class="col-md-10 col-lg-8 clearfix center-margin">
            <div class="col-md-5 pad20T pad20B login-box_headercoy" style="border:1px solid #fff; margin-top: 60px;">
                <h3 class="text-transform-upr font-size-23 font-bold font-orange"><b>SIMPATDA</b></h3>
                <b class="font-white font-bold">Sistem Informasi Pendapatan Asli Daerah<br>(Kabupaten <?= $data_pemda->s_namakabkota ?>)</b>
                <div class="divider"></div>
                <ul class="reset-ul">
                    <li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">Masukkan Username dan Password anda!</b>
                    </li>
                    <li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">Aplikasi Pencatatan Pajak Kabupaten <?= $data_pemda->s_namakabkota ?></b>
                    </li>
                    <!-- <li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">Download Buku Panduan <a href="<?= $this->basePath() . "/public/panduan/User_Manual_SIMPATDA_Morut.pdf"; ?>" target="_blank" class="font-red bold" download><u>DISINI !</u><br></a></b>
                    </li> -->
                    
                </ul>
            </div>
            <div class="col-md-6 pad0A pad20B" style="margin-top: 60px;">
                <form method="post" action="#">
                    <?= $this->form()->openTag($form) ?>
                    <div class="content-box login-box_tengah animated flipInY">
                        <h3 class="content-box-header login-box_atas content-box-header-alt animated bounceInDown flipInY">
                            <div class="col-md-2 text-center gambar"><img src="<?= $data_pemda->s_logo ?>" alt="" width="50px"></div>
                            <div class="col-md-9" style="color: white; font-size: 20pt;margin-left: 15px;padding-top:10px;">
                                Aplikasi Simpatda<br>
                                <small style="color: white;font-size: 12pt">Masukkan Username dan Password !</small>
                            </div>

                        </h3>
                        <div class="content-box-wrapper pad10T">
                            <div class="form-group">
                                <div class="input-group">
                                    <?= $this->formtext($form->get("s_username")) ?>
                                    <span class="input-group-addon bg-blue">
                                        <i class="glyph-icon icon-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <?= $this->formpassword($form->get("s_password")) ?>
                                    <span class="input-group-addon bg-blue">
                                        <i class="glyph-icon icon-unlock-alt"></i>
                                    </span>
                                </div>
                            </div>
                            <?= $this->formsubmit($form->get("Loginsubmit")) ?>
                        </div>
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </form>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    html,
    body {
        height: 100%;
        background: gray;
    }
</style>