<div id="page-content-wrapper">
    <div id="page-content">
        <h3 style="color: blue">
            Input Target
        </h3>
        <div class="panel" style="font-size: 10pt;">
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Target</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">Tahun</label>
                            <div class="col-sm-4">
                                : <?= $data->s_tahuntarget ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">Keterangan</label>
                            <div class="col-sm-10">
                                : <?= $data->s_keterangantarget ?>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <h3 style="color: blue">
            Target Detail
        </h3>
        <div class="panel" style="font-size: 10pt;">
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="scroll-columns">
                                <table class="table table-bordered table-striped table-condensed cf" style='font-size:10pt; color: black'>
                                    <thead class="cf">
                                        <tr>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>No.</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>Kode Rekening</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>Nama Rekening</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>Target</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        $counter = 1;
                                        $total_target = 0;
                                        foreach ($this->datatargetdetail as $row) {

											$b1 = '';
                                            $b2 = '';

											switch (strlen(str_ireplace(".","",$row['korek']))) {
                                                case 1:
                                                    $color_text = 'color:purple;font-size:14pt;';
                                                    break;
                                                case 2:
                                                    $color_text = 'color:green;font-size:13pt;';
                                                    break;
                                                case 4:
                                                    $color_text = 'color:green;font-size:12pt;';
                                                    break;
                                                case 6:
                                                    $color_text = 'color:blue;font-size:11pt;';
                                                    break;
                                                default:
                                                    $color_text = '';
                                                    break;
                                            }
                                            
                                            if ($row['s_rinciankorek'] == '00' || $row['s_rinciankorek'] == '') {
                                                $b1 = '<b style="'.$color_text.'">';
                                                $b2 = '</b>';
                                            }

                                           if (!empty($row['s_idtargetdetail'])) {
                                                if(!empty($row['s_sub1korek']) || $row['s_sub1korek'] != ''){
                                                    $btn = '<button class="btn btn-warning btn-xs" type="button" onclick="edittargetdetail(' . $row['s_idtargetdetail'] . ')"><span class="glyph-icon icon-pencil"></span></button>';
                                                    $color = 'color:green;';
                                                }else{
                                                    $btn = '';
                                                    $color = '';
                                                }
                                            } else {
                                                if(!empty($row['s_sub1korek']) || $row['s_sub1korek'] != ''){
                                                    $btn = '<button class="btn btn-primary btn-xs" type="button" onclick="pilihRekening(' . $row['s_idkorek'] . ')"><span class="glyph-icon icon-pencil"></span></button>';
                                                    $color = '';
                                                }else{
                                                    $btn = '';
                                                    $color = '';
                                                }
                                            }
                                            ?>

                                        <tr style="<?=$color?>">
                                                <td style="text-align:center"><?= $counter++ ?></td>
                                                <td style=""><?= $b1.$row['korek'].$b2 ?></td>
                                                <td><?= $b1.$row['s_namakorek'].$b2 ?></td>
                                                <td style="text-align:right"><?= $b1.number_format($row['s_targetjumlah'], 0, ",", ".").$b2 ?></td>
                                                <td style="text-align: center"><?= $btn ?></td>
                                            </tr>
                                            <?php
                                        }
                                        ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTargetRekening" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>INPUT DATA TARGET DETAIL</b></h4>
            </div>
            <?php
            $form = $this->form;
            $form->setAttribute('action', $this->url() . '/tambahtargetdetail');
            $form->prepare();
            ?>
            <div class='modal-body'>
                <?= $this->form()->openTag($form) ?>
                <div class="row">
                    <?= $this->formHidden($form->get("s_idtargetdetail")) ?>
                    <?= $this->formHidden($form->get("s_idtargetheader")) ?>
                    <?= $this->formHidden($form->get("s_targetrekening")) ?>
                    <div class="col-sm-12">
                        <label class="col-sm-3">Kode Rekening</label>
                        <div class="col-sm-6">
                            <input type="text" name="t_korek" id="t_korek" class="form-control" readonly="true">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3">Nama Rekening</label>
                        <div class="col-sm-9">
                            <input type="text" name="t_namakorek" id="t_namakorek" class="form-control" readonly="true">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3">
                            Jumlah Target
                        </label>
                        <div class="col-sm-4">
                            <?= $this->formText($form->get("s_targetjumlah")) ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="sumbit" class="btn btn-primary btn-block btn-sm">SIMPAN</button>
            </div>
            <?= $this->form()->closeTag($form) ?>
        </div>
    </div>
</div>

<script>

    function bukamodalRekening() {
        $('#modalTargetRekening').modal('show');
    }

    function pilihRekening(a) {
        $.post('<?= $this->url() ?>/pilihRekening', {s_idkorek: a}, function (data) {
            var aa = JSON.parse(data);
            $('#modalTargetRekening').modal('show');
            $('#s_targetrekening').val(aa.t_idkorek);
            $('#t_korek').val(aa.t_korek);
            $('#t_namakorek').val(aa.t_namakorek);
            $("#s_targetjumlah").val(0);
        });
    }

    function edittargetdetail(a) {
        $.post('<?= $this->url() ?>/edittargetdetail', {s_idtargetdetail: a}, function (data) {
            var aa = JSON.parse(data);
            $('#modalTargetRekening').modal('show');
            $("#s_idtargetdetail").val(aa.s_idtargetdetail);
            $("#s_targetrekening").val(aa.s_targetrekening);
            $("#t_korek").val(aa.t_korek);
            $("#t_namakorek").val(aa.t_namakorek);
            $("#s_targetjumlah").val(aa.s_targetjumlah);
        });
    }
</script>