<?php
if ($jnscetak == 2) {
    header("Content-type: application/vnd-ms-excel");
    header("Content-Disposition: attachment; filename=cetakrekapterhapus.xls");
}
?>

<html>
    <body>
        <?php
        ini_set("max_execution_time", 5000);
        ini_set('memory_limit', '1024M');
      
        ?>
        <div>
            <div>
                <div style='width: 10%; float: left;'>
                </div>
                <div style='width: 90%; float: right;'>
                    <p style="text-align: center; font-size: 10pt; font-weight: BOLD;">
                        PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkota); ?>, <?= strtoupper($ar_pemda->s_namaprov); ?>
                    </p>
                    <p style="text-align: center; font-size: 12pt; font-weight: BOLD; line-height: 1px;">
                        <?= strtoupper($ar_pemda->s_namainstansi); ?> (<?= strtoupper($ar_pemda->s_namasingkatinstansi); ?>)
                    </p>
                    <p style="text-align: center; font-size: 8pt; line-height: 5px">
                        <?= strtoupper($ar_pemda->s_alamatinstansi); ?> Telp/Fax <?= $ar_pemda->s_notelinstansi ?>, <?= $ar_pemda->s_namaibukotakabkota ?> <?= $ar_pemda->s_kodepos ?>
                    </p>
                </div>
                <div style='clear:both;'></div>
            </div>
            <hr style="line-height: 1px; color: black">
            <h4 style="text-align: center">DAFTAR REKAP TERHAPUS</h4>
            <p style="font-size: 10pt; line-height: 5px"> 
                Tanggal : <?= $tglpendataan0 ?> s/d <?= $tglpendataan1 ?>
            </p>
            <table width="100%" class="font_sembilan">
                <tr style="text-align: center">
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        No.
                    </td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        Tgl. Pendataan
                    </td>
                  
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        NPWPD
                    </td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        Nama WP
                    </td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        Nama Objek
                    </td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        No. SPTPD
                    </td>
                     <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        Masa Pajak
                    </td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        Jenis Pajak
                    </td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align: center; font-weight: bold">
                        Jumlah Pajak (Rp.)
                    </td>
                      <td style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-right: 1px solid #000;text-align:
                      center; font-weight: bold">
                       Tgl. Hapus
                    </td>
                   
                </tr>
                <?php
                $counter = 1;
                foreach ($this->data as $k => $v) {
                 
                    ?>
                    <tr>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= $counter ?>
                        </td>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= date('d-m-Y', strtotime($v['t_tglpendataan'])) ?>
                        </td>
                      
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= $v['t_npwpdwp'] ?> 
                        </td>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="left">
                            <?= $v['t_namawp'] ?>
                        </td>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="left">
                            <?= $v['t_namaobjek'] ?>
                        </td>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= $v['t_nourut'] ?>
                        </td>
                            <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= date('d-m-Y', strtotime($v['t_masaawal'])) ?> s/d <?= date('d-m-Y', strtotime($v['t_masaakhir'])) ?> 
                        </td>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= $v['s_namajenis'] ?> 
                        </td>
                        <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="right">
                            <?= number_format($v['t_jmlhpajak'],0,",",".") ?>
                        </td>
                           </td>
                            <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000;" align="center">
                            <?= date('d-m-Y', strtotime($v['t_tglhapus'])) ?> 
                        </td>

                       
                        
                    </tr>
                    <?php
                    $counter++;
                }
                ?>
            </table>
        </div>
    </body>
</html>

<style type="text/css" media="print">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .font_empatbelas {
        font-size: 14pt;
    }    
</style>