<div id="page-content-wrapper">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b style="font-family: monospace;">LOG HAPUS</b>
                </h4>
            </div>
            <div class="panel-body">
                <ul class="nav-responsive nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">DAFTAR TERHAPUS</a></li>
                  
                    <li><a href="#tab3" data-toggle="tab">REGISTER TERHAPUS</a></li>
                </ul>
                <div class="tab-content">
                    <?= $this->partial('grid_hapus.phtml'); ?>
                  
                    <?= $this->partial('pencetakan.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
</div>

