<div class="tab-pane" id="tab3">
    <div class="example-box-wrapper" style="font-size: 11px">
        <div class="panel-group" id="accordion">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Cetak Rekap Terhapus
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-12 form-horizontal">
                            <label class="col-md-2 control-label">
                                Tanggal Cetak
                            </label>
                            <div class="col-md-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <input type="text" class="bootstrap-datepicker form-control" name="tglcetak" id="tglcetak"  value="<?= date('d-m-Y') ?>" data-date-format="dd-mm-yy" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-horizontal">
                            <label class="col-md-2 control-label">
                                Tanggal Pendataan
                            </label>
                            <div class="col-md-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <input type="text" class="bootstrap-datepicker form-control" name="tglpendataan0" id="tglpendataan0"  value="<?= date('d-m-Y') ?>" data-date-format="dd-mm-yy" readonly>
                                </div>
                            </div>
                            <div class="col-md-1">S/D</div>
                            <div class="col-md-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <input type="text" class="bootstrap-datepicker form-control" name="tglpendataan1" id="tglpendataan1"  value="<?= date('d-m-Y') ?>" data-date-format="dd-mm-yy" readonly>
                                </div>
                            </div>
                        </div>
                        
                        <div class='col-md-12'> 
                            <label class="col-md-2 control-label">
                                
                            </label>
                            <div class="col-md-1">
                                <a href="#" class="btn btn-sm btn-danger pull-left" title="" onclick="cetakrekapterhapus()"><i class="glyph-icon icon-file-pdf-o"></i> PDF</a>
                            </div>
                            <div class="col-md-1">
                                <a href="#" class="btn btn-sm btn-primary pull-left" title="" onclick="cetakrekapterhapusexcel()"><i class="glyph-icon icon-file-excel-o"></i> EXCEL</a>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
  $('#tglpendataan0').datepicker({
        format: 'dd-mm-yyyy'
    });

    $('#tglpendataan1').datepicker({
        format: 'dd-mm-yyyy'
    });

    function cetakrekapterhapus() {
        window.open('<?= $this->url() ?>/cetakrekapterhapus?tglcetak=' + $("#tglcetak").val() + "&tglpendataan0=" + $("#tglpendataan0").val() + "&tglpendataan1=" + $("#tglpendataan1").val() + "&jnscetak=1");
    }

    function cetakrekapterhapusexcel() {
        window.open('<?= $this->url() ?>/cetakrekapterhapus?tglcetakop=' + $("#tglcetak").val() + "&tglpendataan0=" + $("#tglpendataan0").val() + "&tglpendataan1=" + $("#tglpendataan1").val() + "&jnscetak=2");
    }


</script>
